*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

syshacienda/.vscode/settings.json
Pipfile.lock

syshacienda/mnt/migrations/
syshacienda/vent/migrations/
syshacienda/baseapp/migrations/

syshacienda/syshacienda_db.sql
syshacienda/model_syshacienda.py
syshacienda/syshacienda_db.sql
syshacienda/syshacienda/settings.py
syshacienda/static/admin/*
syshacienda/static/rest_framework/*
syshacienda/syshacienda/settings.py
syshacienda/syshacienda/settings.py
syshacienda/syshacienda/settings.py
