*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

syshacienda/.vscode/settings.json
Pipfile.lock

syshacienda/mnt/migrations/
syshacienda/vent/migrations/
syshacienda/baseapp/migrations/

syshacienda/syshacienda_db.sql
syshacienda/model_syshacienda.py
syshacienda/syshacienda_db.sql
syshacienda/syshacienda/settings.py
syshacienda/static/admin/css/autocomplete.css
syshacienda/static/admin/css/base.css
syshacienda/static/admin/css/changelists.css
syshacienda/static/admin/css/dashboard.css
syshacienda/static/admin/css/fonts.css
syshacienda/static/admin/css/forms.css
syshacienda/static/admin/css/login.css
syshacienda/static/admin/css/nav_sidebar.css
syshacienda/static/admin/css/responsive_rtl.css
syshacienda/static/admin/css/responsive.css
syshacienda/static/admin/css/rtl.css
syshacienda/static/admin/css/widgets.css
syshacienda/static/admin/css/vendor/select2/LICENSE-SELECT2.md
syshacienda/static/admin/css/vendor/select2/select2.css
syshacienda/static/admin/css/vendor/select2/select2.min.css
syshacienda/static/admin/fonts/LICENSE.txt
syshacienda/static/admin/fonts/README.txt
syshacienda/static/admin/fonts/Roboto-Bold-webfont.woff
syshacienda/static/admin/fonts/Roboto-Light-webfont.woff
syshacienda/static/admin/fonts/Roboto-Regular-webfont.woff
syshacienda/static/admin/img/calendar-icons.svg
syshacienda/static/admin/img/icon-addlink.svg
syshacienda/static/admin/img/icon-alert.svg
syshacienda/static/admin/img/icon-calendar.svg
syshacienda/static/admin/img/icon-changelink.svg
syshacienda/static/admin/img/icon-clock.svg
syshacienda/static/admin/img/icon-deletelink.svg
syshacienda/static/admin/img/icon-no.svg
syshacienda/static/admin/img/icon-unknown-alt.svg
syshacienda/static/admin/img/icon-unknown.svg
syshacienda/static/admin/img/icon-viewlink.svg
syshacienda/static/admin/img/icon-yes.svg
syshacienda/static/admin/img/inline-delete.svg
syshacienda/static/admin/img/LICENSE
syshacienda/static/admin/img/README.txt
syshacienda/static/admin/img/search.svg
syshacienda/static/admin/img/selector-icons.svg
syshacienda/static/admin/img/sorting-icons.svg
syshacienda/static/admin/img/tooltag-add.svg
syshacienda/static/admin/img/tooltag-arrowright.svg
syshacienda/static/admin/img/gis/move_vertex_off.svg
syshacienda/static/admin/img/gis/move_vertex_on.svg
syshacienda/static/admin/js/actions.js
syshacienda/static/admin/js/autocomplete.js
syshacienda/static/admin/js/calendar.js
syshacienda/static/admin/js/cancel.js
syshacienda/static/admin/js/change_form.js
syshacienda/static/admin/js/collapse.js
syshacienda/static/admin/js/core.js
syshacienda/static/admin/js/inlines.js
syshacienda/static/admin/js/jquery.init.js
syshacienda/static/admin/js/nav_sidebar.js
syshacienda/static/admin/js/popup_response.js
syshacienda/static/admin/js/prepopulate_init.js
syshacienda/static/admin/js/prepopulate.js
syshacienda/static/admin/js/SelectBox.js
syshacienda/static/admin/js/SelectFilter2.js
syshacienda/static/admin/js/urlify.js
syshacienda/static/admin/js/admin/DateTimeShortcuts.js
syshacienda/static/admin/js/admin/RelatedObjectLookups.js
syshacienda/static/admin/js/vendor/jquery/jquery.js
syshacienda/static/admin/js/vendor/jquery/jquery.min.js
syshacienda/static/admin/js/vendor/jquery/LICENSE.txt
syshacienda/static/admin/js/vendor/select2/LICENSE.md
syshacienda/static/admin/js/vendor/select2/select2.full.js
syshacienda/static/admin/js/vendor/select2/select2.full.min.js
syshacienda/static/admin/js/vendor/select2/i18n/af.js
syshacienda/static/admin/js/vendor/select2/i18n/ar.js
syshacienda/static/admin/js/vendor/select2/i18n/az.js
syshacienda/static/admin/js/vendor/select2/i18n/bg.js
syshacienda/static/admin/js/vendor/select2/i18n/bn.js
syshacienda/static/admin/js/vendor/select2/i18n/bs.js
syshacienda/static/admin/js/vendor/select2/i18n/ca.js
syshacienda/static/admin/js/vendor/select2/i18n/cs.js
syshacienda/static/admin/js/vendor/select2/i18n/da.js
syshacienda/static/admin/js/vendor/select2/i18n/de.js
syshacienda/static/admin/js/vendor/select2/i18n/dsb.js
syshacienda/static/admin/js/vendor/select2/i18n/el.js
syshacienda/static/admin/js/vendor/select2/i18n/en.js
syshacienda/static/admin/js/vendor/select2/i18n/es.js
syshacienda/static/admin/js/vendor/select2/i18n/et.js
syshacienda/static/admin/js/vendor/select2/i18n/eu.js
syshacienda/static/admin/js/vendor/select2/i18n/fa.js
syshacienda/static/admin/js/vendor/select2/i18n/fi.js
syshacienda/static/admin/js/vendor/select2/i18n/fr.js
syshacienda/static/admin/js/vendor/select2/i18n/gl.js
syshacienda/static/admin/js/vendor/select2/i18n/he.js
syshacienda/static/admin/js/vendor/select2/i18n/hi.js
syshacienda/static/admin/js/vendor/select2/i18n/hr.js
syshacienda/static/admin/js/vendor/select2/i18n/hsb.js
syshacienda/static/admin/js/vendor/select2/i18n/hu.js
syshacienda/static/admin/js/vendor/select2/i18n/hy.js
syshacienda/static/admin/js/vendor/select2/i18n/id.js
syshacienda/static/admin/js/vendor/select2/i18n/is.js
syshacienda/static/admin/js/vendor/select2/i18n/it.js
syshacienda/static/admin/js/vendor/select2/i18n/ja.js
syshacienda/static/admin/js/vendor/select2/i18n/ka.js
syshacienda/static/admin/js/vendor/select2/i18n/km.js
syshacienda/static/admin/js/vendor/select2/i18n/ko.js
syshacienda/static/admin/js/vendor/select2/i18n/lt.js
syshacienda/static/admin/js/vendor/select2/i18n/lv.js
syshacienda/static/admin/js/vendor/select2/i18n/mk.js
syshacienda/static/admin/js/vendor/select2/i18n/ms.js
syshacienda/static/admin/js/vendor/select2/i18n/nb.js
syshacienda/static/admin/js/vendor/select2/i18n/ne.js
syshacienda/static/admin/js/vendor/select2/i18n/nl.js
syshacienda/static/admin/js/vendor/select2/i18n/pl.js
syshacienda/static/admin/js/vendor/select2/i18n/ps.js
syshacienda/static/admin/js/vendor/select2/i18n/pt-BR.js
syshacienda/static/admin/js/vendor/select2/i18n/pt.js
syshacienda/static/admin/js/vendor/select2/i18n/ro.js
syshacienda/static/admin/js/vendor/select2/i18n/ru.js
syshacienda/static/admin/js/vendor/select2/i18n/sk.js
syshacienda/static/admin/js/vendor/select2/i18n/sl.js
syshacienda/static/admin/js/vendor/select2/i18n/sq.js
syshacienda/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
syshacienda/static/admin/js/vendor/select2/i18n/sr.js
syshacienda/static/admin/js/vendor/select2/i18n/sv.js
syshacienda/static/admin/js/vendor/select2/i18n/th.js
syshacienda/static/admin/js/vendor/select2/i18n/tk.js
syshacienda/static/admin/js/vendor/select2/i18n/tr.js
syshacienda/static/admin/js/vendor/select2/i18n/uk.js
syshacienda/static/admin/js/vendor/select2/i18n/vi.js
syshacienda/static/admin/js/vendor/select2/i18n/zh-CN.js
syshacienda/static/admin/js/vendor/select2/i18n/zh-TW.js
syshacienda/static/admin/js/vendor/xregexp/LICENSE.txt
syshacienda/static/admin/js/vendor/xregexp/xregexp.js
syshacienda/static/admin/js/vendor/xregexp/xregexp.min.js
syshacienda/static/admin/css/autocomplete.css
syshacienda/static/admin/css/base.css
syshacienda/static/admin/css/changelists.css
syshacienda/static/admin/css/dashboard.css
syshacienda/static/admin/css/fonts.css
syshacienda/static/admin/css/forms.css
syshacienda/static/admin/css/login.css
syshacienda/static/admin/css/nav_sidebar.css
syshacienda/static/admin/css/responsive_rtl.css
syshacienda/static/admin/css/responsive.css
syshacienda/static/admin/css/rtl.css
syshacienda/static/admin/css/widgets.css
syshacienda/static/admin/css/vendor/select2/LICENSE-SELECT2.md
syshacienda/static/admin/css/vendor/select2/select2.css
syshacienda/static/admin/css/vendor/select2/select2.min.css
syshacienda/static/admin/fonts/LICENSE.txt
syshacienda/static/admin/fonts/README.txt
syshacienda/static/admin/fonts/Roboto-Bold-webfont.woff
syshacienda/static/admin/fonts/Roboto-Light-webfont.woff
syshacienda/static/admin/fonts/Roboto-Regular-webfont.woff
syshacienda/static/admin/img/calendar-icons.svg
syshacienda/static/admin/img/icon-addlink.svg
syshacienda/static/admin/img/icon-alert.svg
syshacienda/static/admin/img/icon-calendar.svg
syshacienda/static/admin/img/icon-changelink.svg
syshacienda/static/admin/img/icon-clock.svg
syshacienda/static/admin/img/icon-deletelink.svg
syshacienda/static/admin/img/icon-no.svg
syshacienda/static/admin/img/icon-unknown-alt.svg
syshacienda/static/admin/img/icon-unknown.svg
syshacienda/static/admin/img/icon-viewlink.svg
syshacienda/static/admin/img/icon-yes.svg
syshacienda/static/admin/img/inline-delete.svg
syshacienda/static/admin/img/LICENSE
syshacienda/static/admin/img/README.txt
syshacienda/static/admin/img/search.svg
syshacienda/static/admin/img/selector-icons.svg
syshacienda/static/admin/img/sorting-icons.svg
syshacienda/static/admin/img/tooltag-add.svg
syshacienda/static/admin/img/tooltag-arrowright.svg
syshacienda/static/admin/img/gis/move_vertex_off.svg
syshacienda/static/admin/img/gis/move_vertex_on.svg
syshacienda/static/admin/js/actions.js
syshacienda/static/admin/js/autocomplete.js
syshacienda/static/admin/js/calendar.js
syshacienda/static/admin/js/cancel.js
syshacienda/static/admin/js/change_form.js
syshacienda/static/admin/js/collapse.js
syshacienda/static/admin/js/core.js
syshacienda/static/admin/js/inlines.js
syshacienda/static/admin/js/jquery.init.js
syshacienda/static/admin/js/nav_sidebar.js
syshacienda/static/admin/js/popup_response.js
syshacienda/static/admin/js/prepopulate_init.js
syshacienda/static/admin/js/prepopulate.js
syshacienda/static/admin/js/SelectBox.js
syshacienda/static/admin/js/SelectFilter2.js
syshacienda/static/admin/js/urlify.js
syshacienda/static/admin/js/admin/DateTimeShortcuts.js
syshacienda/static/admin/js/admin/RelatedObjectLookups.js
syshacienda/static/admin/js/vendor/jquery/jquery.js
syshacienda/static/admin/js/vendor/jquery/jquery.min.js
syshacienda/static/admin/js/vendor/jquery/LICENSE.txt
syshacienda/static/admin/js/vendor/select2/LICENSE.md
syshacienda/static/admin/js/vendor/select2/select2.full.js
syshacienda/static/admin/js/vendor/select2/select2.full.min.js
syshacienda/static/admin/js/vendor/select2/i18n/af.js
syshacienda/static/admin/js/vendor/select2/i18n/ar.js
syshacienda/static/admin/js/vendor/select2/i18n/az.js
syshacienda/static/admin/js/vendor/select2/i18n/bg.js
syshacienda/static/admin/js/vendor/select2/i18n/bn.js
syshacienda/static/admin/js/vendor/select2/i18n/bs.js
syshacienda/static/admin/js/vendor/select2/i18n/ca.js
syshacienda/static/admin/js/vendor/select2/i18n/cs.js
syshacienda/static/admin/js/vendor/select2/i18n/da.js
syshacienda/static/admin/js/vendor/select2/i18n/de.js
syshacienda/static/admin/js/vendor/select2/i18n/dsb.js
syshacienda/static/admin/js/vendor/select2/i18n/el.js
syshacienda/static/admin/js/vendor/select2/i18n/en.js
syshacienda/static/admin/js/vendor/select2/i18n/es.js
syshacienda/static/admin/js/vendor/select2/i18n/et.js
syshacienda/static/admin/js/vendor/select2/i18n/eu.js
syshacienda/static/admin/js/vendor/select2/i18n/fa.js
syshacienda/static/admin/js/vendor/select2/i18n/fi.js
syshacienda/static/admin/js/vendor/select2/i18n/fr.js
syshacienda/static/admin/js/vendor/select2/i18n/gl.js
syshacienda/static/admin/js/vendor/select2/i18n/he.js
syshacienda/static/admin/js/vendor/select2/i18n/hi.js
syshacienda/static/admin/js/vendor/select2/i18n/hr.js
syshacienda/static/admin/js/vendor/select2/i18n/hsb.js
syshacienda/static/admin/js/vendor/select2/i18n/hu.js
syshacienda/static/admin/js/vendor/select2/i18n/hy.js
syshacienda/static/admin/js/vendor/select2/i18n/id.js
syshacienda/static/admin/js/vendor/select2/i18n/is.js
syshacienda/static/admin/js/vendor/select2/i18n/it.js
syshacienda/static/admin/js/vendor/select2/i18n/ja.js
syshacienda/static/admin/js/vendor/select2/i18n/ka.js
syshacienda/static/admin/js/vendor/select2/i18n/km.js
syshacienda/static/admin/js/vendor/select2/i18n/ko.js
syshacienda/static/admin/js/vendor/select2/i18n/lt.js
syshacienda/static/admin/js/vendor/select2/i18n/lv.js
syshacienda/static/admin/js/vendor/select2/i18n/mk.js
syshacienda/static/admin/js/vendor/select2/i18n/ms.js
syshacienda/static/admin/js/vendor/select2/i18n/nb.js
syshacienda/static/admin/js/vendor/select2/i18n/ne.js
syshacienda/static/admin/js/vendor/select2/i18n/nl.js
syshacienda/static/admin/js/vendor/select2/i18n/pl.js
syshacienda/static/admin/js/vendor/select2/i18n/ps.js
syshacienda/static/admin/js/vendor/select2/i18n/pt-BR.js
syshacienda/static/admin/js/vendor/select2/i18n/pt.js
syshacienda/static/admin/js/vendor/select2/i18n/ro.js
syshacienda/static/admin/js/vendor/select2/i18n/ru.js
syshacienda/static/admin/js/vendor/select2/i18n/sk.js
syshacienda/static/admin/js/vendor/select2/i18n/sl.js
syshacienda/static/admin/js/vendor/select2/i18n/sq.js
syshacienda/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
syshacienda/static/admin/js/vendor/select2/i18n/sr.js
syshacienda/static/admin/js/vendor/select2/i18n/sv.js
syshacienda/static/admin/js/vendor/select2/i18n/th.js
syshacienda/static/admin/js/vendor/select2/i18n/tk.js
syshacienda/static/admin/js/vendor/select2/i18n/tr.js
syshacienda/static/admin/js/vendor/select2/i18n/uk.js
syshacienda/static/admin/js/vendor/select2/i18n/vi.js
syshacienda/static/admin/js/vendor/select2/i18n/zh-CN.js
syshacienda/static/admin/js/vendor/select2/i18n/zh-TW.js
syshacienda/static/admin/js/vendor/xregexp/LICENSE.txt
syshacienda/static/admin/js/vendor/xregexp/xregexp.js
syshacienda/static/admin/js/vendor/xregexp/xregexp.min.js
syshacienda/syshacienda/settings.py
