[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-ckeditor = "*"
pillow = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
psycopg2 = "*"
djangorestframework = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"

[scripts]
syshacienda = "python manage.py runserver"
