{% extends 'rpts/baserpts.html' %}
{% load static %}

{% block mensaje %}
<h2 class="h3 mb-2 text-success">Informe de Compras</h2>
{% endblock %}
{% block btnnuevo %}
{% endblock %}
{% block fechas %}
      <div class="row">
          <div class="col-lg-1">Año</div>
          <div class="col-md-2">
              <select name="id_anios" id="id_anios" class="form-control">
                  <option value="0">Seleccione año</option>
                  {% for i  in anios %}
                      <option value="{{i}}">{{i}} </option>
                  {% endfor %}
              </select>
          </div>

          <div class="col-md-2">
            <a href="{% url 'rpts:imprimirclientes' %}" 
                  class="btn btn-primary btn-icon-split">
                <span class="text">Imprimir</span>
            </a>
          </div>

          <div class="col-md-2">
            <a href="{% url 'rpts:icomprasf1' 2023 %}" 
                  class="btn btn-primary btn-icon-split">
                <span class="text">Consultar</span>
            </a>
          </div>
      </div>
      <br /> <br />
<div class="row g-4 mb-4">
    <div class="col-12 col-lg-6">
    <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Compras mensuales</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="graficoLinea" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->
      <div class="col-12 col-lg-6">		        
      <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Comparativo anual</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="graficoBarra" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
      </div><!--//col-->
</div>
{% endblock fechas %}
{% block header_list %}
  <tr>
  <th>id</th>
  <th>Insumo</th>
  <th>Cultivo</th>
  <th>Fecha de Compra</th>
  <th>Precio</th>
  <th>Fecha Ingreso</th>
  <th>Requerimiento</th>
  </tr>
{% endblock %}

{% block footer_list %}
{% endblock footer_list %}

{% block body_list %}
  {% for item in obj %}
    <tr>
      <td>{{ item.id }} </td>
      <td width="240px">{{ item.insumo }}</td>
      <td width="240px">{{ item.cultivo }}</td>
      <td width="240px">{{ item.fechaCompra | date:"d/m/Y" }}</td>
      <td width="240px">{{ item.precio }}</td>
      <td width="240px">{{ item.fechaIngreso | date:"d/m/Y" }}</td>
      <td width="240px">{{ item.requerimiento }}</td>
    </tr>
  {% endfor %}
{% endblock %}



{% block js_graficos %}
	<script>
   $(function () {    
    //console.log( {{ datoComprativo }});
    //console.log({{ datoLineal }} );
        var ctx = document.getElementById('graficoBarra').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [ {% for data in datoLineal %} {{ data }}, {% endfor %} ],
            },{
              label: {{ ianio_anterior }},
              backgroundColor: '#ffab91',
              borderColor: 'yellow',
              data: [{% for data in datoComparativo %} {{ data }},  {% endfor %} ],
            }		
            ]},
          options: {responsive: true}
        });
        var ctx1 = document.getElementById('graficoLinea').getContext('2d');
        var chart = new Chart(ctx1, {
          type: 'line',
          data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [{% for data in datoLineal %} {{ data }}, {% endfor %}  ],
            }		
            ]},
          options: {}
        });
        var ctx2 = document.getElementById('graficoDona').getContext('2d');
        var chart = new Chart(ctx2, {
          type: 'doughnut',
          data: 	
          {
                datasets: [{
                  data: [60,18,10, 8, 4],
                  backgroundColor: ['#42a5f5', 'red', 'green','blue','violet'],
                  label: 'Comparacion de navegadores'
                }],
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
          },
          options: {}
        });      
   
   });
	</script>
{% endblock js_graficos%}
<script>
      // Generate charts on load
      window.addEventListener('load', function(){
        
        var lineChart = document.getElementById('graficoLinea').getContext('2d');
        window.myLine = new Chart(lineChart, lineChartConfig);
        
        var barChart = document.getElementById('graficoBarra').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);
        
        var pieChart = document.getElementById('chart-pie').getContext('2d');
        window.myPie = new Chart(pieChart, pieChartConfig);
        
        var doughnutChart = document.getElementById('chart-doughnut').getContext('2d');
        window.myDoughnut = new Chart(doughnutChart, doughnutChartConfig);
        

      });	
</script>

{% block js_page %}
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<!--<script src="{% static 'assets/js/index-charts.js'%}"></script> --> 
{% endblock %}
<script>
$(function() {
    var  today = new Date();
    var m = today.getMonth() + 1;
    var mes = (m < 10) ? "0" + m : m;
    var d = today.getDate();
    var dia = (d < 10) ? "0" + d : d;
    $('#f1').val(today.getFullYear(),"/" +mes,"/"+dia);
    $('#f2').val(today.getFullYear(),"/" +mes,"/"+dia);
    $("#id_anios").val({{ ianio }});

    $("#id_anios").change(function(e){
            e.preventDefault();
            buscarInfo();
    });

        function buscarProducto()
    {
        if ($("#id_cliente_detalle").val()==="0" || $("#id_cliente_detalle").val()===null){
            mensaje("Cliente No Seleccionado",'red');
            $("#id_produccion_detalle").val("").click(); ///------
            return false;
        }
        var id_produccion = $("#id_produccion_detalle").val();
        if(id_produccion==="" || id_produccion=="0"){
            mensaje("Producto No Seleccionado",'red');
            return false;
        }

        var path = '#';
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                var  cantidadDisponible = (r.cantidadCosecha - r.cantidadVentaCosecha);
                console.log(r);
                console.log("cantidadCosecha: " + r.cantidadCosecha);
                console.log("cantidadVentaCosecha: " + r.cantidadVentaCosecha);
                console.log(r.cantidadCosecha - r.cantidadVentaCosecha);
                console.log(r.estado);

                if(r.cantidadDisponible<=0 || !r.estado){
                    mensaje("Producto No Tiene cantidadDisponible o está inactivo",'orange')
                    $("#id_produccion_detalle").val("");
                    $("#cod_cultivo").val("");
                    $("#cod_produccion").val("");
                    $("#id_precio").val("0.00");
                    $("#id_produccion_detalle").focus();
                    return false;
                }

                $("#id_produccion_detalle").val(id_produccion_detalle);
                $("#cod_produccion").val(r.id);
                $("#cod_cultivo").val(r.cultivo);
                $("#id_precio").val(r.precio);
                $("#cantidadDisponible").val(cantidadDisponible) ;
                $("#id_cantidad").focus();

            },
            error: function(a,b,c){
                mensaje("err",'orange')
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Producto -" + id_produccion + "- No Encontrado o No Existe",'red');
                    $("#id_produccion_detalle").val("");
                    $("#cod_cultivo").val("");
                    $("#cod_produccion").val("");
                    $("#id_precio").val("0.00");
                    $("#id_produccion_detalle").focus();
                }

            }

        });
    }

})

</script>

