{% extends 'rpts/baserpts.html' %}
{% load static %}

{% block mensaje %}
<h2 class="h3 mb-2 text-success">Informe de Compras</h2>
{% endblock %}
{% block btnnuevo %}
{% endblock %}
{% block fechas %}
      <div class="row">
          <div class="col-lg-1"> Fecha Inicio</div>
          <div class="col-md-2">
            <input type="text" 
                  class="form-class" 
                  name="f1" 
                  id="f1" 
                  size="10"
                  readonly>
          </div>
          <div class="col-lg-1"> Fecha Fin</div>
          <div class="col-md-2">
            <input type="text" 
                  class="form-class" 
                  name="f2" 
                  id="f2" 
                  size="10"
                  readonly>
          </div>

          <div class="col-md-2">
            <a href="{% url 'rpts:imprimirclientes' %}" 
                  class="btn btn-primary btn-icon-split">
                <span class="text">Imprimir</span>
            </a>
          </div>

          <div class="col-md-2">
            <a href="{% url 'rpts:imprimirclientes' %}" 
                  class="btn btn-primary btn-icon-split">
                <span class="text">Consultar</span>
            </a>
          </div>
      </div>
      <br /> <br />
<div class="row g-4 mb-4">
    <div class="col-12 col-lg-6">
    <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Compras mensuales</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="graficoLinea" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->
      <div class="col-12 col-lg-6">		        
      <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Comparativo anual</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="graficoBarra" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
      </div><!--//col-->
</div>
{% endblock fechas %}
{% block header_list %}
  <tr>
  <th>id</th>
  <th>Insumo</th>
  <th>Cultivo</th>
  <th>Fecha de Compra</th>
  <th>Precio</th>
  <th>Fecha Ingreso</th>
  <th>Requerimiento</th>
  </tr>
{% endblock %}

{% block footer_list %}
{% endblock footer_list %}

{% block body_list %}
  {% for item in obj %}
    <tr>
      <td>{{ item.id }} </td>
      <td width="240px">{{ item.insumo }}</td>
      <td width="240px">{{ item.cultivo }}</td>
      <td width="240px">{{ item.fechaCompra | date:"d/m/Y" }}</td>
      <td width="240px">{{ item.precio }}</td>
      <td width="240px">{{ item.fechaIngreso | date:"d/m/Y" }}</td>
      <td width="240px">{{ item.requerimiento }}</td>
    </tr>
  {% endfor %}
{% endblock %}
{% block js_graficos %}
	<script>
   $(function () {    
    console.log('graficos');

        var ctx = document.getElementById('graficoBarra').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
              label: {{ ianio }}
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [{%for data in datoLineal %}{{data.total}},{%endfor%}]
            },{
              label: 'Gastos',
              backgroundColor: '#ffab91',
              borderColor: 'yellow',
              data: [{%for data in datoComprativo %}{{data.total}},{%endfor%}]
            }		
            ]},
          options: {responsive: true}
        });
        var ctx1 = document.getElementById('graficoLinea').getContext('2d');
        var chart = new Chart(ctx1, {
          type: 'line',
          data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
              label: 'Ganancias',
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [{%for data in datoLineal %}{{data.total}},{%endfor%}],
            }		
            ]},
          options: {}
        });
        var ctx2 = document.getElementById('graficoDona').getContext('2d');
        var chart = new Chart(ctx2, {
          type: 'doughnut',
          data: 	
          {
                datasets: [{
                  data: [60,18,10, 8, 4],
                  backgroundColor: ['#42a5f5', 'red', 'green','blue','violet'],
                  label: 'Comparacion de navegadores'
                }],
                labels: [
                  'Google Chrome',
                  'Safari',
                  'Edge',
                  'Firefox',
                  'Opera'
                ]},
          options: {}
        });
   });
	</script>
{% endblock js_graficos%}
{% block js_page %}
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<script src="{% static 'assets/js/index-charts.js'%}"></script> 
{% endblock %}
<script>
$(function() {
    var  today = new Date();
    var m = today.getMonth() + 1;
    var mes = (m < 10) ? "0" + m : m;
    var d = today.getDate();
    var dia = (d < 10) ? "0" + d : d;
    $('#f1').val(today.getFullYear(),"/" +mes,"/"+dia);
    $('#f2').val(today.getFullYear(),"/" +mes,"/"+dia);

})

</script>

