{% extends 'rpts/baserpts.html' %}
{% load static %}

{% block mensaje %}
<h2 class="h3 mb-2 text-success">Informe de Compras</h2>
{% endblock %}
{% block btnnuevo %}
{% endblock %}
{% block fechas %}
      <div class="row">
          <div class="col-lg-1"> Fecha Inicio</div>
          <div class="col-md-2">
            <input type="text" 
                  class="form-class" 
                  name="f1" 
                  id="f1" 
                  size="10"
                  readonly>
          </div>
          <div class="col-lg-1"> Fecha Fin</div>
          <div class="col-md-2">
            <input type="text" 
                  class="form-class" 
                  name="f2" 
                  id="f2" 
                  size="10"
                  readonly>
          </div>

          <div class="col-md-2">
            <a href="{% url 'rpts:imprimirclientes' %}" 
                  class="btn btn-primary btn-icon-split">
                <span class="text">Imprimir</span>
            </a>
          </div>
      </div>
      <br /> <br />
<div class="row g-4 mb-4">
    <div class="col-12 col-lg-6">
    <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Compras mensuales</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="chart-line" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->
      <div class="col-12 col-lg-6">		        
      <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Comparativo anual</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="chart-bar" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
      </div><!--//col-->
</div>
{% endblock fechas %}
{% block header_list %}
  <tr>
    <th>id</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Uso</th>
    <th>Precio</th>
    <th>Estado</th>
  </tr>
{% endblock %}

{% block footer_list %}
{% endblock footer_list %}

{% block body_list %}
  {% for item in obj %}
    <tr>
      <td>{{ item.id }}</td>
      <td width="240px">{{ item.nombre }}</td>
      <td width="240px">{{ item.tipo }}</td>
      <td width="240px">{{ item.uso  }}</td>
      <td width="240px">{{ item.precio  }}</td>
      <td width="240px">{{ item.estado | yesno:"Activo, Inactivo" }} </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block js_page %}
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
<!-- Charts JS -->
<script src="{% static 'assets/plugins/chart.js/chart.min.js'%}"></script> 
<script src="{% static 'assets/js/charts-demo.js'%}"></script> 
{% endblock %}
<script>
$(function() {
    var  today = new Date();
    var m = today.getMonth() + 1;
    var mes = (m < 10) ? "0" + m : m;
    var d = today.getDate();
    var dia = (d < 10) ? "0" + d : d;
    $('#f1').val(today.getFullYear(),"/" +mes,"/"+dia);
    $('#f2').val(today.getFullYear(),"/" +mes,"/"+dia);

})

</script>

