{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ titulo }}</title>
	  <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/reportes.css' %}">
    <style type="text/css">
        @page {
             width: 210mm; 
            size: auto;   
            margin: 10mm;
            }
    </style>
    	<!-- FontAwesome JS-->

</head>
<!--<body onload="window.print();window.close()" class="receipt">-->
<body onload="window.print()" class="receipt">
    <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1">
        <center>
            <small>
                <!--<div class="app-auth-branding mb-4"> 
                    <a class="app-logo" href="#">
                        <img class="logo-icon me-2 " width: "10px" height: "10px" src="{% static 'assets/images/logohacienda.png' %}" >
                    </a>
                </div>-->
            </small><br>
            <small></small><br>
            <b class="text-center">SISTEMA DE ADMINISTRACION DE HACIENDAS</b><br> 
        </center>
        <small>
            <br>
            <b>Fecha impresión:</b>&nbsp;&nbsp;  <script type="text/javascript">
                                                    var  today = new Date();
                                                    var m = today.getMonth() + 1;
                                                    var mes = (m < 10) ? "0" + m : m;
                                                    var d = today.getDate();
                                                    var dia = (d < 10) ? "0" + d : d;
                                                    document.write(" "+today.getFullYear(),"/" +mes,"/"+dia);
                                                </script>
    &nbsp;&nbsp; <br>
            <br><br>
            <b>Año información:</b>&nbsp;&nbsp;  <script type="text/javascript">
                                                    {{ ianio }}
                                                </script>
    &nbsp;&nbsp; <br>
            <br><br>

        </small>

        <table class="table border-top " stylesheet="{% static 'assets/css/reportes.css' %}" width="80%">
            <thead>
            <th>id</th>
            <th>Insumo</th>
            <th>Cultivo</th>
            <th>Fecha de Compra</th>
            <th>Precio</th>
            <th>Fecha Ingreso</th>
            <th>Requerimiento</th>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td align="center">{{item.id}}</td>
                    <td align="center">{{item.insumo}}</td>
                    <td align="center">{{item.cultivo}}</td>
                    <td align="center">{{item.fechaCompra | date:"d/m/Y"}}</td>
                    <td align="center">{{item.precio}}</td>
                    <td align="center">{{item..fechaIngreso | date:"d/m/Y"}}</td>
                    <td align="center">{{item.requerimiento}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-xs-1"></div>
<div class="row g-4 mb-4">
    <div class="col-12 col-lg-6">
    <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Compras mensuales</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="graficoLinea" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->
      <div class="col-12 col-lg-6">		        
      <div class="app-card app-card-chart h-100 shadow-sm">
        <div class="app-card-header p-3 border-0">
          <h4 class="app-card-title">Comparativo anual</h4>
        </div><!--//app-card-header-->
        <div class="app-card-body p-4">					   
          <div class="chart-container">
                  <canvas id="graficoBarra" ></canvas>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
      </div><!--//col-->
</div>
        <div class="row">
        <small class="pie">
            <br><br>
            <center>
                <br>
                <i>&copy; &reg; <b></b><br> </i> 
            </center>
        </small>
        </div>
    </div>
	<!-- Javascript -->          
    <script src="{% static 'assets/plugins/popper.min.js'%}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>  

	<!-- Charts JS -->
	<!-- <script src="{% static 'assets/js/chart.js'%}"></script> -->
	<script src="{% static 'assets/plugins/chart.js/chart.min.js'%}"></script>  
	<!-- <script src="{% static 'assets/js/index-charts.js'%}"></script> --> 

    <!-- Page Specific JS -->
    <script src="{% static 'assets/js/app.js'%}"></script> 

	<script>
   $(function () {    
    //console.log( {{ datoComprativo }});
    //console.log({{ datoLineal }} );
        var ctx = document.getElementById('graficoBarra').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [ {% for data in datoLineal %} {{ data }}, {% endfor %} ],
            },{
              label: {{ ianio_anterior }},
              backgroundColor: '#ffab91',
              borderColor: 'yellow',
              data: [{% for data in datoComparativo %} {{ data }},  {% endfor %} ],
            }		
            ]},
          options: {responsive: true}
        });
        var ctx1 = document.getElementById('graficoLinea').getContext('2d');
        var chart = new Chart(ctx1, {
          type: 'line',
          data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [{% for data in datoLineal %} {{ data }}, {% endfor %}  ],
            }		
            ]},
          options: {}
        });
        var ctx2 = document.getElementById('graficoDona').getContext('2d');
        var chart = new Chart(ctx2, {
          type: 'doughnut',
          data: 	
          {
                datasets: [{
                  data: [60,18,10, 8, 4],
                  backgroundColor: ['#42a5f5', 'red', 'green','blue','violet'],
                  label: 'Comparacion de navegadores'
                }],
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
          },
          options: {}
        });      
   
   });
	</script>
<script>
      // Generate charts on load
      window.addEventListener('load', function(){
        
        var lineChart = document.getElementById('graficoLinea').getContext('2d');
        window.myLine = new Chart(lineChart, lineChartConfig);
        
        var barChart = document.getElementById('graficoBarra').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);
        
        var pieChart = document.getElementById('chart-pie').getContext('2d');
        window.myPie = new Chart(pieChart, pieChartConfig);
        
        var doughnutChart = document.getElementById('chart-doughnut').getContext('2d');
        window.myDoughnut = new Chart(doughnutChart, doughnutChartConfig);
        

      });	
</script>
<script src="{% static 'assets/plugins/chart.js/chart.min.js'%}"></script>  
</body>
</html>