{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'assets/css/reportes.css' %}">
    <style type="text/css">
        @page {
             width: 210mm; 
            size: auto;   
            margin: 10mm;
            }
    </style>
</head>
<!--<body onload="window.print();window.close()" class="receipt">-->
<body onload="window.print()" class="receipt">
    <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1">
        <center>
            <small>
                <!--<div class="app-auth-branding mb-4"> 
                    <a class="app-logo" href="#">
                        <img class="logo-icon me-2 " width: "10px" height: "10px" src="{% static 'assets/images/logohacienda.png' %}" >
                    </a>
                </div>-->
            </small><br>
            <small></small><br>
            <b class="text-center">SISTEMA DE ADMINISTRACION DE HACIENDAS</b><br> 
             <b class="text-center">HACIENDA CAÑAS</b><br> 
        </center>
        <small>
            <br>
            <b>Fecha impresión:</b>&nbsp;&nbsp;  <script type="text/javascript">
                                                    var  today = new Date();
                                                    var m = today.getMonth() + 1;
                                                    var mes = (m < 10) ? "0" + m : m;
                                                    var d = today.getDate();
                                                    var dia = (d < 10) ? "0" + d : d;
                                                    document.write(" "+today.getFullYear(),"/" +mes,"/"+dia);
                                                </script>
    &nbsp;&nbsp; <br>
            <br><br>
        </small>

        <table class="table border-top " stylesheet="{% static 'assets/css/reportes.css' %}" width="80%">
            <thead>
                <th>id</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Ciudad</th>
            </thead>
            <tbody>
                {% for item in detalle %}
                <tr>
                    <td align="center">{{item.id}}</td>
                    <td align="center">{{item.apellido}}</td>
                    <td align="center">{{item.nombre}}</td>
                    <td align="center">{{item.email}}</td>
                    <td align="center">{{item.telefono}}</td>
                    <td align="center">{{item.ciudad}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <div class="pull-right">
            <!--<table class="table-responsive dt-responsive nowrap">
                <thead>
                    <th colspan=2>Totales</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Sub Total:</td> <td align='right'>{{venta.subTotal}}</td>
                    </tr>
                    <tr>
                        <td>Iva {{venta.porcIva}} : </td> <td align='right'>{{venta.totalIva}}</td>
                    </tr>
                    <tr>
                        <td>Total:</td> <td align='right'><b>{{venta.totalVenta}}</b></td>
                    </tr>
                </tbody>
            </table>-->
            </div>
        </div>
        <div class="row">
        <small class="pie">
            <br><br>
            <center>
                <br>
                <i>&copy; &reg; <b></b><br> </i> 
            </center>
        </small>
        </div>
    </div>
</body>
</html>