{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informe de Ganancias</title>
	  <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/reportes.css' %}">
    <style type="text/css">
        @page {
             width: 210mm; 
            size: auto;   
            margin: 10mm;
            }
        img {
            width: 25px;
            height: 25px;
            }
    </style>
    	<!-- FontAwesome JS-->

</head>
<!--<body onload="window.print();window.close()" class="receipt">-->
<body onload="window.print()" class="receipt">
    <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1">
        <center>
            <small>
              <div class="app-branding">
              <img class="logo-icon me-2" src="{% static 'assets/images/logohacienda.png' %}" alt="logo">
              <span class="logo-text"></span></a>
              </div>
            </small><br>
            <small></small><br>
            <b class="text-center">SISTEMA DE ADMINISTRACION DE HACIENDAS</b> <br/> 
            <b class="text-center">HACIENDA CAÑAS</b><br /><br />
            <b class="text-center">Informe de Ganancias </b>
        </center>
        <small>
            <br>
            <b>Fecha impresión:</b>&nbsp;&nbsp;  <script type="text/javascript">
                                                    var  today = new Date();
                                                    var m = today.getMonth() + 1;
                                                    var mes = (m < 10) ? "0" + m : m;
                                                    var d = today.getDate();
                                                    var dia = (d < 10) ? "0" + d : d;
                                                    document.write(" "+today.getFullYear(),"/" +mes,"/"+dia);
                                                </script>
    &nbsp;&nbsp; <br>
            <br><br>
            <b>Año información:</b>&nbsp;&nbsp;  {{ ianio }}
    &nbsp;&nbsp; <br>
            <br><br>


         <table class="table border-top " stylesheet="{% static 'assets/css/reportes.css' %}" width="80%">
            <thead>
                <th>Año Cosecha</th>
                <th>Cultivo</th>
                <th>Total Cosecha</th>           
            </thead>
            <tbody>
                {% for item in obj %}
                    <tr>
                    <td width="240px">{{ item.fecha__year }}</td>
                    <td width="240px">{{ item.cultivo__nombre  }}</td>
                    <td width="240px">{{ item.sum_cantidadCosecha }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

	<!-- Page level plugins -->
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js'%}"></script>
	<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

	<!-- Bootstrap core JavaScript-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

	<!-- Page level custom scripts -->
	<script src="{% static 'assets/vendor/js/demo/datatables-demo.js'%}"></script>
	<script>
   $(function () {    
    //console.log( {{ datoComprativo }});
    //console.log({{ datoLineal }} );
    //console.log({{ obj }} );
        window.chartColors = {
          green: '#75c181', // rgba(117,193,129, 1)
          blue: '#5b99ea', // rgba(91,153,234, 1)
          gray: '#a9b5c9',
          text: '#252930',
          border: '#e7e9ed'
        };

        var ctx = document.getElementById('graficoBarra').getContext('2d');
        var bkprimario = "rgba(117,193,129,0.8)";
        var bksecundario = "rgba(91,153,234,0.8)";
        var chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [ {% for data in datoLineal %} '{{ data.cultivo__nombre }}', {% endfor %} ],
            datasets: [{
              label: 'Cosechado',
              backgroundColor: bkprimario,
              borderColor: 'gray',
              data: [ {% for data in obj %} {{ data.sum_cantidadCosecha }}, {% endfor %} ],
            },{
              label:'Vendido',
              backgroundColor: bksecundario,
              borderColor: 'yellow',
              data: [ {% for data in datoLineal %} {{ data.sum_cantidad }}, {% endfor %} ],
            }		
            ]},
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
                align: 'end',
              },

              tooltips: {
                mode: 'index',
                intersect: false,
                titleMarginBottom: 10,
                bodySpacing: 10,
                xPadding: 16,
                yPadding: 16,
                borderColor: window.chartColors.border,
                borderWidth: 1,
                backgroundColor: '#fff',
                bodyFontColor: window.chartColors.text,
                titleFontColor: window.chartColors.text,
                callbacks: {
                          label: function(tooltipItem, data) {	                 
                            return tooltipItem.value + '';   
                          }
                      },
              },
              scales: {
                xAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.border,
                  },
                }],
                yAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.borders,
                  },
                  ticks: {
                          beginAtZero: true,
                          userCallback: function(value, index, values) {
                              return value + '';  
                          }
                      },
                }]
              }
              
            }
        });
        var ctx1 = document.getElementById('graficoBarra2').getContext('2d');
        var chart = new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: [{% for data in obj %} '{{ data.cultivo__nombre }}', {% endfor %}],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: bkprimario,
              borderColor: 'gray',
              data: [ {% for data in obj %} {{ data.sum_cantidadCosecha }}, {% endfor %}  ],
            },
            ]},
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
                align: 'end',
              },

              tooltips: {
                mode: 'index',
                intersect: false,
                titleMarginBottom: 10,
                bodySpacing: 10,
                xPadding: 16,
                yPadding: 16,
                borderColor: window.chartColors.border,
                borderWidth: 1,
                backgroundColor: '#fff',
                bodyFontColor: window.chartColors.text,
                titleFontColor: window.chartColors.text,
                callbacks: {
                          label: function(tooltipItem, data) {	                 
                            return tooltipItem.value + '';   
                          }
                      },
              },
              scales: {
                xAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.border,
                  },
                }],
                yAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.borders,
                  },
                  ticks: {
                          beginAtZero: true,
                          userCallback: function(value, index, values) {
                              return value + '';  
                          }
                      },
                }]
              }
              
            }
        });    
     $("#id_anios").val("{{ ianio }}");
   });
	</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<!--<script src="{% static 'assets/js/index-charts.js'%}"></script> --> 

<script>
      // Generate charts on load
      window.addEventListener('load', function(){
        
        var barChart = document.getElementById('graficoBarra').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);
        
        var barChart = document.getElementById('graficoBarra2').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);
        

      });	
</script>
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<!--<script src="{% static 'assets/js/index-charts.js'%}"></script> --> 


</body>
</html>