{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informe de Ventas por Cultivo</title>
	  <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/reportes.css' %}">
    <style type="text/css">
        @page {
             width: 210mm; 
            size: auto;   
            margin: 10mm;
            }
        img {
            width: 25px;
            height: 25px;
            }
    </style>
    	<!-- FontAwesome JS-->
  <!-- Custom fonts for this template -->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'assets/vendor/css/sb-admin-2.min.css'%}" rel="stylesheet">

  
   <!-- Custom styles for this page -->
   <link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
     <!-- jQuery Confirm -->
  <link rel="stylesheet" href="{% static 'assets/vendor/jquery_confirm/jquery-confirm.min.css' %}">

  <!-- XDSoft DateTimePicker -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" 
            integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />  

  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
</head>
<!--<body onload="window.print();window.close()" class="receipt">-->
<body class="receipt">
    <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1">
        <center>
            <small>
              <div class="app-branding">
              <img class="logo-icon me-2" src="{% static 'assets/images/logohacienda.png' %}" alt="logo">
              <span class="logo-text"></span></a>
              </div>
            </small><br>
            <small></small><br>
            <b class="text-center">SISTEMA DE ADMINISTRACION DE HACIENDAS</b> <br/> 
            <b class="text-center">HACIENDA CAÑAS</b><br /><br />
            <b class="text-center">Informe de Ventas por Cultivo</b>
        </center>
        <small>
            <br>
            <b>Fecha impresión:</b>&nbsp;&nbsp;  <script type="text/javascript">
                                                    var  today = new Date();
                                                    var m = today.getMonth() + 1;
                                                    var mes = (m < 10) ? "0" + m : m;
                                                    var d = today.getDate();
                                                    var dia = (d < 10) ? "0" + d : d;
                                                    document.write(" "+today.getFullYear(),"/" +mes,"/"+dia);
                                                </script>
    &nbsp;&nbsp; <br>
            <br><br>
            <b>Año información:</b>&nbsp;&nbsp; {{ ianio }}
                                                
    &nbsp;&nbsp; <br>
            <br><br>
                        <div class="row g-4 mb-4">
                            <div class="col-12 col-lg-6">
                            <div class="app-card app-card-chart h-100 shadow-sm">
                                <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">Ventas por Cultivo</h4>
                                </div><!--//app-card-header-->
                                <div class="app-card-body p-4">					   
                                <div class="chart-container">
                                        <canvas id="graficoBarra" ></canvas>
                                </div>
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                            </div><!--//col-->
                            <div class="col-12 col-lg-6">		        
                            <div class="app-card app-card-chart h-100 shadow-sm">
                                <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">Comparativa Ventas Por cultivo</h4>
                                </div><!--//app-card-header-->
                                <div class="app-card-body p-4">					   
                                <div class="chart-container">
                                        <canvas id="graficoBarra2" ></canvas>
                                </div>
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                            </div><!--//col-->
                        </div>

         <table class="table border-top " stylesheet="{% static 'assets/css/reportes.css' %}" width="80%">
            <thead>
                  <th>Año Venta</th>
                  <th>Cultivo</th>
                  <th>Número de  Ventas</th>
                  <th>Cantidad Cultivo</th>
                  <th>Total Vendido</th>      
            </thead>
            <tbody>
              {% for item in obj %}
                      <tr>
                      <td width="240px">{{ item.fechaVenta__year }}</td>
                      <td width="240px">{{ item.detalleventa__cultivo__nombre }}</td>
                      <td width="240px">{{ item.cantidad  }}</td>
                      <td width="240px">{{ item.det_cantidad }}</td>
                      <td width="240px">{{ item.det_total  }}</td>
                      </tr>
                  {% endfor %}
            </tbody>
        </table>

	<!-- Page level plugins -->
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js'%}"></script>
	<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

	<!-- Bootstrap core JavaScript-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

	<!-- Page level custom scripts -->
	<script src="{% static 'assets/vendor/js/demo/datatables-demo.js'%}"></script>

<script>
   $(function () {    
    //console.log( {{ datoComprativo }});
    //console.log({{ datoLineal }} );
        window.chartColors = {
          green: '#75c181', // rgba(117,193,129, 1)
          blue: '#5b99ea', // rgba(91,153,234, 1)
          gray: '#a9b5c9',
          text: '#252930',
          border: '#e7e9ed'
        };

        var bkprimario = "rgba(117,193,129,0.8)";
        var bksecundario = "rgba(91,153,234,0.8)";
        var ctx = document.getElementById('graficoBarra').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [ {% for data in datoLineal %} '{{ data.detalleventa__cultivo__nombre }}', {% endfor %} ],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: bkprimario,
              borderColor: 'gray',
              data: [ {% for data in datoLineal %} {{ data.cantidad }}, {% endfor %} ],
            },{
              label: {{ ianio_anterior }},
              backgroundColor: bksecundario,
              borderColor: 'yellow',
              data: [ {% for data in datoComparativo %} {{ data.cantidad }}, {% endfor %} ],
            }		
            ]},
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
                align: 'end',
              },

              tooltips: {
                mode: 'index',
                intersect: false,
                titleMarginBottom: 10,
                bodySpacing: 10,
                xPadding: 16,
                yPadding: 16,
                borderColor: window.chartColors.border,
                borderWidth: 1,
                backgroundColor: '#fff',
                bodyFontColor: window.chartColors.text,
                titleFontColor: window.chartColors.text,
                callbacks: {
                          label: function(tooltipItem, data) {	                 
                            return tooltipItem.value + '';   
                          }
                      },
              },
              scales: {
                xAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.border,
                  },
                }],
                yAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.borders,
                  },
                  ticks: {
                          beginAtZero: true,
                          userCallback: function(value, index, values) {
                              return value + '';  
                          }
                      },
                }]
              }
              
            }
        });
        var ctx1 = document.getElementById('graficoBarra2').getContext('2d');
        var chart = new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: [{% for data in datoLineal %} '{{ data.detalleventa__cultivo__nombre }}', {% endfor %}],
            datasets: [{
              label: 'Ventas',
              backgroundColor: bkprimario,
              borderColor: 'gray',
              data: [{% for data in datoLineal %} {{ data.cantidad }}, {% endfor %}  ],
            },{
              label: 'Cantidad',
              backgroundColor: bksecundario,
              borderColor: 'gray',
              data: [{% for data in datoLineal %} {{ data.det_cantidad }}, {% endfor %}  ],
            },{
              label: 'Total',
              backgroundColor: window.chartColors.gray,
              borderColor: 'gray',
              data: [{% for data in datoLineal %} {{ data.det_total }}, {% endfor %}  ],
            },
            ]},
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
                align: 'end',
              },

              tooltips: {
                mode: 'index',
                intersect: false,
                titleMarginBottom: 10,
                bodySpacing: 10,
                xPadding: 16,
                yPadding: 16,
                borderColor: window.chartColors.border,
                borderWidth: 1,
                backgroundColor: '#fff',
                bodyFontColor: window.chartColors.text,
                titleFontColor: window.chartColors.text,
                callbacks: {
                          label: function(tooltipItem, data) {	                 
                            return tooltipItem.value + '';   
                          }
                      },
              },
              scales: {
                xAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.border,
                  },
                }],
                yAxes: [{
                  display: true,
                  gridLines: {
                    drawBorder: false,
                    color: window.chartColors.borders,
                  },
                  ticks: {
                          beginAtZero: true,
                          userCallback: function(value, index, values) {
                              return value + '';  
                          }
                      },
                }]
              }
              
            }
        });     
     $("#id_anios").val("{{ ianio }}");
   });
	</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<!--<script src="{% static 'assets/js/index-charts.js'%}"></script> --> 

<script>
      // Generate charts on load
      window.addEventListener('load', function(){
      
        var barChart = document.getElementById('graficoBarra').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);
        
        var barChart = document.getElementById('graficoBarra2').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);

      });	
</script>

<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<!--<script src="{% static 'assets/js/index-charts.js'%}"></script> --> 

</body>
</html>