.table {
    border: 2px solid black;
}

.table td .numero{
    text-align: center;
}


.table tr td:nth-child(2n) {
    background-color: white;
    color: black;
    text-align: left;
    font-size: 10px;
    font-family: Arial;
}

.table tr td:nth-child(2n+1) {
    background-color: gray;
    color: black;
    text-align: left;
    font-size: 10px;
    font-family: Arial;
}