{% extends 'mnt/base_form.html' %}

{% block mensaje_editar %}
    <h4 class="app-card-title text-secondary text-uppercase mb-1"> 
        Editar Asignacion 
    </h4>
{% endblock mensaje_editar %}                 

{% block mensaje_nuevo %}                     
    <h4 class="app-card-title text-primary text-uppercase mb-1"> 
        Nueva Asignacion
    </h4>
{% endblock mensaje_nuevo %}      

{% block insert_update %}
<div class="row">
    <div class="col-10">
        <div class="input-group">
            {{ form.cultivo }}
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            {{ form.actividad }}
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            {{ form.empleado }}
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="text" name="descripcion" maxlength="100" 
                    class="form-control" 
                    required id="id_descripcion" placeholder="Nombre / Descripción de Actividad"
                    pattern="[a-zA-Z ]{2,100}"
            value="{% if obj %} {{ obj.descripcion }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Fecha de asignación: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input id="id_fecha" 
                    name="fecha" 
                    type="text" required
                    class="form-control"   
                    size="10"
                    readonly
                    placeholder = "Dia/Mes/Año"
                    value={% if obj %} {{ obj.fecha | date:"d/m/Y" }}
                       {% else %} '' 
                       {% endif %}   
                >
        </div>
    </div>
</div>  <br/>
    <div class="row">
        <div class="col-2">
            <label for="id_estado">Estado</label>
        </div>
        <div class="form-group col-10">
            <input type="checkbox" name="estado" 
                class="form-check-input" 
                id="id_estado" width="60px"
                    {% if obj %} 
                        {% if obj.estado %} checked {% else %} null {% endif %} 
                    {% else %} 
                        checked 
                    {% endif %} >
        </div>
    </div>
{% endblock insert_update %}

{% block url_list %}
<a href="{% url 'mnt:asignacion_list' %}" 
    class="btn btn-danger">
    <span class="fa fa-undo"></span>Cancelar</a>
{% endblock url_list %}

{% block js_page %}
  	<script type="text/javascript">
        $(function(){
            $("#id_fecha").datetimepicker({
                format: 'd/m/Y',
                timepicker:false
            });
        });
	</script>
    <script type="text/javascript">
        $(function(){
        var campos = $('input');
            
        campos.each(function(index, campo){
            var valor = $(campo).val().trim();
            
            $(campo).val(valor);
        })
        });
    </script>
{% endblock %}
