{% extends 'mnt/base_list.html' %}

{% block mensaje %}
<h2 class="h3 mb-2 text-success">Cosechas</h2>
{% endblock %}

{% block btnnuevo %}
  <a href="{% url 'mnt:cosecha_new' %}" class="btn btn-primary btn-icon-split">
    <span class="text">Regitrar Nueva</span>
  </a>
{% endblock  %}

{% block header_list %}
<tr>
  <th>id</th>
  <th>Hacienda</th>
  <th>Cultivo</th>
  <th>Fecha</th>
  <th>Cantidad</th>
  <!--<th>Estado</th> -->
  <th class="all">Acciones</th>
</tr>
{% endblock %}

{% block footer_list %}
  <!--<tr>
  <th>id</th>
  <th>Hacienda</th>
  <th>Cultivo</th>
  <th>Fecha</th>
  <th>Cantidad</th>
  <th class="all">Acciones</th>
  </tr>-->
{% endblock footer_list %}

{% block body_list %}
  {% for item in obj %}
  <tr>
      <td>{{ item.id }} </td>
      <td width="240px">{{ item.hacienda }}</td>
      <td width="240px">{{ item.cultivo }}</td>
      <td width="240px">{{ item.fecha | date:"d/m/Y" }}</td>
      <td width="240px">{{ item.cantidad }}</td>
      <!--<td> {% if item.estado %}
              Activo
            {% else %} 
              Inactivo
            {% endif %}
            </td> -->
      <td width="240px"> 
        <a href="{% url 'mnt:cosecha_edit' item.id %}" 
            class="btn btn-warning btn-circle" data-tooltip="Editar"
            role="button">
            <i class="far fa-edit"></i>
        </a>
      </td>
  </tr>
  {% endfor %}
{% endblock %}

{% block js_page %}
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
{% endblock %}