{% extends 'mnt/base_form.html' %}

{% block mensaje_editar %}
    <h4 class="app-card-title text-secondary text-uppercase mb-1"> 
        Editar Cultivo 
    </h4>
{% endblock mensaje_editar %}                 

{% block mensaje_nuevo %}                     
    <h4 class="app-card-title text-primary text-uppercase mb-1"> 
        Nuevo Cultivo 
    </h4>
{% endblock mensaje_nuevo %}      

{% block insert_update %}
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="text" name="nombre" maxlength="100" 
                    class="form-control" 
                    required id="id_nombre" placeholder="Nombre Cultivo"
            value="{% if obj %} {{ obj.nombre }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="text" name="lote" maxlength="100" 
            class="form-control" 
            required id="id_lote" placeholder="Nombre Lote"
            value="{% if obj %} {{ obj.lote }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Ingrese fecha inicio: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="date" name="fechaInicio" 
            class="form-control" 
            required id="id_fechaInicio" placeholder="Fecha Inicio"
            value="{% if obj %} {{ obj.fechaInicio  | date:"Y/m/d" }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Ingrese fecha fin: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="date" name="fechaFin"
            class="form-control"   
            required id="id_fechaFin"
            value="{% if obj %} {{ obj.fechaFin | date:"Y/m/d" }} {% endif %}">
        </div>
    </div>
</div>  <br/>
    <div class="row">
        <div class="col-2">
            <label for="id_estado">Estado</label>
        </div>
        <div class="form-group col-10">
            <input type="checkbox" name="estado" class="form-check-input" id="id_estado"
            {% if obj %} 
                {{ obj.estado}}
            {% else %} 
                checked 
            {% endif %} >
        </div>
    </div>
    <div class="row">
            <label class="badge bg-warning h1">Si desactiva el [ Estado ], el registro se guardará como inactivo/eliminado.</label>
    </div>
{% endblock insert_update %}

{% block url_list %}
<a href="{% url 'mnt:cultivo_list' %}" 
    class="btn btn-danger">
    <span class="fa fa-undo"></span>Cancelar</a>
{% endblock url_list %}

{% block js_page %}
{% endblock %}
