{% extends 'mnt/base_form.html' %}

{% block mensaje_editar %}
    <h4 class="app-card-title text-secondary text-uppercase mb-1"> 
        Editar Cultivo 
    </h4>
{% endblock mensaje_editar %}                 

{% block mensaje_nuevo %}                     
    <h4 class="app-card-title text-primary text-uppercase mb-1"> 
        Nuevo Cultivo 
    </h4>
{% endblock mensaje_nuevo %}      

{% block insert_update %}
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="text" name="nombre" maxlength="100" 
                    class="form-control" 
                    required id="id_nombre" placeholder="Nombre Cultivo"
                    pattern="[a-zA-Z ]{2,100}"
            value="{% if obj %} {{ obj.nombre }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="text" name="lote" maxlength="100" 
            class="form-control" 
            required id="id_lote" placeholder="Nombre Lote"
            pattern="[a-zA-Z ]{2,100}"
            value="{% if obj %} {{ obj.lote }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Ingrese fecha inicio: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="text" 
                    name="fechaInicio" 
                    class="form-control" 
                    id="id_fechaInicio"     
                    size="10"
                    readonly
                    placeholder = "Dia/Mes/Año"
                    value={% if obj %} {{ obj.fechaInicio  | date:"d/m/Y"  }} 
                            {% else %} '' 
                            {% endif %} 
                    >   
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Ingrese fecha fin: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input
                name="fechaFin"
                id="id_fechaFin"
                
                type="text" required
                class="form-control"   
                size="10"
                readonly
                placeholder = "Dia/Mes/Año"
                value= {% if obj %} {{ obj.fechaFin | date:"d/m/Y" }} 
                       {% else %} '' 
                       {% endif %}            
            >
            <br/>      
        </div>
    </div>
</div>  
<br/>
    <div class="row">
        <div class="col-2">
            <label for="id_estado">Estado: </label> 
        </div>
        <div class="form-group col-10">
            <input type="checkbox" name="estado" 
                class="form-check-input" 
                id="id_estado" width="60px"
                    {% if obj %} 
                        {% if obj.estado %} checked {% else %} null {% endif %} 
                    {% else %} 
                        checked 
                    {% endif %} >
        </div>
    </div>
{% endblock insert_update %}

{% block url_list %}
<a href="{% url 'mnt:cultivo_list' %}" 
    class="btn btn-danger">
    <span class="fa fa-undo"></span>Cancelar</a>
{% endblock url_list %}

{% block js_page %}
  	<script type="text/javascript">
        $(function(){
            $("#id_fechaFin, #id_fechaInicio").datetimepicker({
                format: 'd/m/Y',
                timepicker:false
            });
        });
	</script>
{% endblock %}
