{% extends 'mnt/base_form.html' %}

{% block mensaje_editar %}
    <h4 class="app-card-title text-secondary text-uppercase mb-1"> 
        Editar Cultivo 
    </h4>
{% endblock mensaje_editar %}                 

{% block mensaje_nuevo %}                     
    <h4 class="app-card-title text-primary text-uppercase mb-1"> 
        Nuevo Cultivo 
    </h4>
{% endblock mensaje_nuevo %}      

{% block insert_update %}
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="text" name="nombre" maxlength="100" 
                    class="form-control" 
                    required id="id_nombre" placeholder="Nombre Cultivo"
            value="{% if obj %} {{ obj.nombre }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="text" name="lote" maxlength="100" 
            class="form-control" 
            required id="id_lote" placeholder="Nombre Lote"
            value="{% if obj %} {{ obj.lote }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="date" name="fechaInicio" maxlength="100" 
            class="form-control" 
            required id="id_fechaInicio" placeholder="Fecha Inicio"
            value="{% if obj %} {{ obj.fechaInicio  | date:"d/m/Y" }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            <input type="date" name="fechaFin"
            class="form-control" 
            required id="id_fechaFin"
            value="{% if obj %} {{ obj.fechaFin | date:"d/m/Y" }} {% endif %}">
        </div>
    </div>
</div> 
{% endblock insert_update %}

{% block url_list %}
<a href="{% url 'mnt:cultivo_list' %}" 
    class="btn btn-danger">
    <span class="fa fa-undo"></span>Cancelar</a>
{% endblock url_list %}

{% block js_page %}
{% endblock %}
