{% extends 'mnt/base_form.html' %}


{% block mensaje_editar %}
    <h4 class="app-card-title text-secondary text-uppercase mb-1"> 
        Editar Empleado                 
{% endblock mensaje_editar %}

{% block mensaje_nuevo %}                     
    <h4 class="app-card-title text-primary text-uppercase mb-1"> 
        Nuevo Empleado
    </h4>
{% endblock mensaje_nuevo %}      
{% block insert_update %}
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="nombre" maxlength="100" 
                        class="form-control" 
                        required id="id_nombre" placeholder="Nombre"
                        pattern="[a-zA-Z ]{2,100}"
                value="{% if obj %} {{ obj.nombre }} {% endif %}">
            </div>
        </div>
    </div>   <br/>
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="apellido" maxlength="100" 
                class="form-control" 
                required id="id_apellido" placeholder="Apellido"
                pattern="[a-zA-Z ]{2,100}"
                value="{% if obj %} {{ obj.apellido }} {% endif %}">
            </div>
        </div>
    </div>   <br/>
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="identificacion" maxlength="10" 
                class="form-control" 
                required id="id_identificacion" placeholder="Identificación"
                value="{% if obj %} {{ obj.identificacion }} {% endif %}">
            </div>
        </div>
    </div>   <br/>
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="telefono" maxlength="10"  minlength="7"
                class="form-control" 
                required id="id_telefono" placeholder="Teléfono"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                value="{% if obj %} {{ obj.telefono }} {% endif %}">
            </div>
        </div>
    </div> <br/>
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="celular" maxlength="10" minlength="10" 
                class="form-control" 
                required id="id_celular" placeholder="Celular"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                value="{% if obj %} {{ obj.celular }} {% endif %}">
            </div>
        </div>
    </div> <br/>
    <div class="row">
        <div class="col-4">
         <label for="fchNacimiento"> Fecha de nacimiento </label>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input 
                        name="fchNacimiento"
                        id="id_fchNacimiento" 
                        type="text" required
                        class="form-control"   
                        size="10"
                        readonly
                        placeholder = "Dia/Mes/Año"
                        value={% if obj %} {{ obj.fchNacimiento | date:"d/m/Y" }} 
                            {% else %} '' 
                            {% endif %}            
                    >
            </div>
        </div>
    </div> <br /> 
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="email" maxlength="100" 
                class="form-control" 
                required id="id_email" placeholder="Email / Correo electrónico"
                pattern="[a-zA-Z0-9!#$%&'*_+-]([\.]?[a-zA-Z0-9!#$%&'*_+-])+@[a-zA-Z0-9]([^@&%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
                value="{% if obj %} {{ obj.email }} {% endif %}">
            </div>
        </div>
    </div> <br/>
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="direccion" maxlength="100" 
                class="form-control" 
                required id="id_direccion" placeholder="Dirección"
                pattern="[a-zA-Z ]{2,100}"
                value="{% if obj %} {{ obj.direccion }} {% endif %}">
            </div>
        </div>
    </div> <br/>
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="ciudad" maxlength="100" 
                class="form-control" 
                required id="id_ciudad" placeholder="Ciudad"
                pattern="[a-zA-Z ]{2,100}"
                value="{% if obj %} {{ obj.ciudad }} {% endif %}">
            </div>
        </div>
    </div>  <br/>
    <div class="row">
        <div class="col-2">
            <label for="id_estado">Estado</label>
        </div>
        <div class="form-group col-10">
            <input type="checkbox" name="estado" 
                class="form-check-input" 
                id="id_estado" width="60px"
                    {% if obj %} 
                        {% if obj.estado %} checked {% else %} null {% endif %} 
                    {% else %} 
                        checked 
                    {% endif %} >
        </div>
    </div>

 {% endblock insert_update %}  

{% block url_list %}
<a href="{% url 'mnt:empleado_list' %}" 
    class="btn btn-danger">
    <span class="fa fa-undo"></span>Cancelar</a>
{% endblock url_list %}

{% block js_page %}

  	<script type="text/javascript">
        $(function(){
            $("#id_fchNacimiento").datetimepicker({
                format: 'd/m/Y',
                timepicker:false
            });
        });
	</script>
{% endblock %}
