{% extends 'mnt/base_list.html' %}

{% block mensaje %}
<h2 class="h3 mb-2 text-success">Información Empleados</h2>
{% endblock %}

{% block btnnuevo %}
  <a href="{% url 'mnt:empleado_new' %}" 
    class="btn btn-primary btn-icon-split">
    <span class="text">Crear Nuevo</span>
  </a>
{% endblock  %}
{% block header_list %}
    <tr>
      <th>id</th>
      <th>Nombre y Apellido</th>
      <th>Identificacion</th>
      <th>Fecha de Nacimiento</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Ciudad, Dirección</th>
      <th>Estado</th>
      <th class="all">Acciones</th>
    </tr>
    {% endblock %}
    {% block footer_list %}
        <!--<tfoot>
          <tr>
          <th>id</th>
          <th>Nombre y Apellido</th>
          <th>Identificacion</th>
          <th>Fecha de Nacimiento</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Ciudad, Dirección</th>
          <th>Estado</th>
            <th class="all">Acciones</th>
          </tr> -->
      {% endblock %}
 {% block body_list %}  
      {% for item in obj %}
            <tr>
              <td>{{ item.id }}</td>
              <td width="240px"> {{ item.nombre }}  {{ item.apellido }}    </td>
              <!-- <td>{{ item.apellido }}</td> -->
              <td width="240px">{{ item.identificacion }}</td>
              <td>{{ item.fchNacimiento }}</td>
              <td width="240px">{{ item.celular }}</td>
              <td width="240px">{{ item.email }}</td>
              <td width="240px">{{ item.ciudad }}, {{ item.direccion }}</td>
              <!--<td>{{ item.ciudad }}</td>-->
              <td width="240px">{{ item.estado | yesno:"Activo, Inactivo" }} </td>
              <td width="240px">
                <a href="{% url 'mnt:empleado_edit' item.id %}" 
                class="btn btn-warning btn-circle" 
                role="button">
                <i class="far fa-edit"></i></a> 
              </td>
            </tr>
    {% endfor %}
{% endblock %} 

{% block js_page %}
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
{% endblock %}
