{% extends 'mnt/base_list.html' %}

{% block mensaje %}
<h2 class="h3 mb-2 text-success">Listado de Insumos</h2>
{% endblock %}

{% block btnnuevo %}
  <a href="{% url 'mnt:insumo_new' %}" 
    class="btn btn-primary btn-icon-split">
    <span class="text">Crear Nuevo</span>
  </a>
{% endblock  %}

{% block header_list %}
  <tr>
    <th>id</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Uso</th>
    <th>Precio</th>
    <th>Estado</th>
    <th class="all">Acciones</th>
  </tr>
{% endblock %}
{% block footer_list %}
  <!--<tfoot>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Uso</th>
      <th>Precio</th>
      <th>Estado</th>
      <th class="all">Acciones</th>
    </tr>
 -->
 {% endblock footer_list %}

 {% block body_list %}     
    {% for item in obj %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.tipo }}</td>
      <td>{{ item.uso  }}</td>
      <td>{{ item.precio  }}</td>
      <td>{{ item.estado | yesno:"Activo, Inactivo" }} </td>
      <td>
        <a href="{% url 'mnt:insumo_edit' item.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a> 
      </td>
    </tr>
    {% endfor %}
{% endblock %} 

{% block js_page %}
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
{% endblock %}