{% extends 'mnt/base_form.html' %}

{% block mensaje_editar %}
    <h4 class="app-card-title text-secondary text-uppercase mb-1"> 
        Actualizar  información de Producción
    </h4>
{% endblock mensaje_editar %}                 

{% block mensaje_nuevo %}                     
    <h4 class="app-card-title text-primary text-uppercase mb-1"> 
        Registro de nuevo
    </h4>
{% endblock mensaje_nuevo %}      

{% block insert_update %}
<div class="row">
    <div class="col-10">
        <div class="input-group">
            {{ form.cultivo }}
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            {{ form.insumo }}
        </div>
    </div>
</div>   <br/>

<div class="row">
    <div class="col-10">
        <label for="id_fecha">Ingrese fecha: </label>
    </div>
    <div class="col-10">
        <div class="input-group">
            <input type="date" name="fecha" 
                    class="form-control" 
                    required id="id_fecha"
            value="{% if obj %} {{ obj.fecha | date:"d/m/Y" }} {% endif %}">
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
			{{ form.cantidadCosecha }}
        </div>
    </div>
</div>  <br/>
    <div class="row">
        <div class="col-2">
            <label for="id_estado">Estado</label>
        </div>
        <div class="form-group col-10">
            <input type="checkbox" name="estado" class="form-check-input " id="id_estado"
            {% if obj %} 
                {{ obj.estado}}
            {% else %} 
                checked 
            {% endif %} >
        </div>
    </div>
    <div class="row">
            <label class="badge bg-warning h1">Si desactiva el [ Estado ], el registro se guardará como inactivo/eliminado.</label>
    </div>
{% endblock insert_update %}

{% block url_list %}
<a href="{% url 'mnt:produccion_list' %}" 
    class="btn btn-danger">
    <span class="fa fa-undo"></span>Cancelar</a>
{% endblock url_list %}

{% block js_page %}
{% endblock %}
