{% extends 'mnt/base_list.html' %}

{% block mensaje %}
<h2 class="h3 mb-2 text-success">Listado de Proveedores</h2>
{% endblock %}

{% block btnnuevo %}
  <a href="{% url 'mnt:proveedor_new' %}" 
    class="btn btn-primary btn-icon-split">
    <span class="text">Crear Nuevo</span>
  </a>
{% endblock  %}
{% block header_list %}
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <!--<th>Razón Social</th>-->
      <th>RUC</th>
      <th>Teléfono</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th class="all">Acciones</th>
    </tr>
    {% endblock %}
    {% block footer_list %}
        <!--<tfoot>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Razón Social</th>
            <th>RUC</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th class="all">Acciones</th>
          </tr> -->
      {% endblock %}
 {% block body_list %}  
      {% for item in obj %}
            <tr>
              <td>{{ item.id }}</td>
              <td width="240px">{{ item.nombre }}</td>
              <!-- <td>{{ item.apellido }}</td> -->
              <td width="240px">{{ item.identificacion }}</td>
              <td width="240px">{{ item.telefono }}</td>
              <td width="240px">{{ item.celular }}</td>
              <td width="240px">{{ item.email }}</td>
              <td width="240px">{{ item.direccion }}</td>
              <td width="240px">{{ item.ciudad }}</td>
              <td width="240px">{{ item.estado | yesno:"Activo, Inactivo" }} </td>
              <td width="240px">
                <a href="{% url 'mnt:proveedor_edit' item.id %}" 
                class="btn btn-warning btn-circle" 
                role="button">
                <i class="far fa-edit"></i></a> 
              </td>
            </tr>
    {% endfor %}
{% endblock %} 

{% block js_page %}
<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
{% endblock %}