{% extends 'mnt/base_form.html' %}

{% block mensaje_editar %}
    <h4 class="app-card-title text-secondary text-uppercase mb-1"> 
        Actualizar información
    </h4>
{% endblock mensaje_editar %}                 

{% block mensaje_nuevo %}                     
    <h4 class="app-card-title text-primary text-uppercase mb-1"> 
        Nuevo Registro
    </h4>
{% endblock mensaje_nuevo %}      

{% block insert_update %}
<div class="row">
    <div class="col-10">
        <div class="input-group">
            {{ form.insumo }}
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
            {{ form.cultivo }}
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Ingrese fecha compra: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="datetime" name="fechaCompra" 
                    class="form-control" 
                    required id="id_fechaCompra"
					maxlength="10"
					placeholder = "Dia/Mes/Año"
            value={% if obj %} {{ obj.fechaCompra | date:"d/m/Y" }} {% endif %}>
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-10">
        <div class="input-group">
			{{ form.precio }}
        </div>
    </div>
</div> <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Ingrese fecha ingreso: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="datetime" name="fechaIngreso" 
                    class="form-control" 
                    required id="id_fechaIngreso"
					maxlength="10"
					placeholder = "Dia/Mes/Año"
            value={% if obj %} {{ obj.fechaIngreso | date:"d/m/Y" }} {% endif %}>
        </div>
    </div>
</div>   <br/>
<div class="row">
    <div class="col-4">
        <label for="id_fecha">Ingrese fecha Expiración: </label>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="datetime" name="fechaExpira" 
                    class="form-control" 
                    required id="id_fechaExpira"
					maxlength="10"
					placeholder = "Dia/Mes/Año"
            value={% if obj %} {{ obj.fechaExpira | date:"d/m/Y" }} {% endif %}>
        </div>
    </div>
</div>  <br/>
    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <input type="text" name="requerimiento" maxlength="100" 
                        class="form-control"
                        required id="id_requerimiento" placeholder="Ingrese el requerimiento"
                value="{% if obj %} {{ obj.requerimiento }} {% endif %}">

            </div>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-2">
            <label for="id_estado">Estado</label>
        </div>
        <div class="form-group col-10">
            <input type="checkbox" name="estado" 
                class="form-check-input" 
                id="id_estado" width="60px"
                    {% if obj %} 
                        {% if obj.estado %} checked {% else %} null {% endif %} 
                    {% else %} 
                        checked 
                    {% endif %} >
        </div>
    </div> <br />
{% endblock insert_update %}

{% block url_list %}
<a href="{% url 'mnt:produccion_list' %}" 
    class="btn btn-danger">
    <span class="fa fa-undo"></span>Cancelar</a>
{% endblock url_list %}

{% block js_page %}
{% endblock %}
