{% extends 'base/home.html' %}
{% load static %}

{% block csstables %}
  <!-- Custom fonts for this template -->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{% static 'assets/vendor/css/sb-admin-2.min.css' %}" rel="stylesheet">
   <!-- Custom styles for this page -->
   <link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock csstables %}

{% block page_content %}
<form method="post" id="frmVenta">
    {% csrf_token %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <a href="#" class="btn btn-danger">Guardar</a>
        <a href="#" class="btn btn-success" target="_factura">Imprimir</a>
        <a href="{% url 'vent:venta_list' %}" class="btn btn-info">Cancelar</a>
    </div>
    <div class="card-body">
        <div class="content">
            <!-- Sección Superior -->
            <div class="row">
                <!-- Sección Izquierda -->
                <div class="col-lg-6 form-group">
                    <div class="content">
                        <div class="row ">
                            <div class="col-lg-2">No.</div>
                            <div class="col-lg-2">
                                <input type="text" name="id" id="id" readonly class="form-control">
                            </div>
                            <div class="col-lg-3">
                                Cliente:
                            </div>
                            <div class="col-lg-5 form-group">
                                <div class="row">
                                    <div class="col-lg-11 col-md-11">
                                        <select name="id_cliente" id="id_cliente" class="form-control">
                                            <option value="0">Seleccione Cliente</option>
                                            {% for cliente in clientes %}
                                                <option value="{{cliente.id}}">{{cliente.identificacion }} - {{ cliente.nombre }} {{ cliente.apellido}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!--
                                    <div class="col-lg-1 col-md-1">
                                        <button class="btn btn-outline-danger btn-sm" id="btnEditCliente"><i class="far fa-edit"></i></button>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 p-2" >
                                <div class="row">
                                    <div class="col-lg-3">
                                        Fecha:
                                    </div>
                                    <div class="col-lg-5 form-group">
                                        <input type="text" name="id_fechaVenta" id="id_fechaVenta" class="form-control form-control-user"
                                        value="{{ obj.fechaVenta|date:'Y-m-d' }}" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 p-2 form-group">
                                <div class="row">
                                    <div class="col-lg-3">Sub Total:</div>
                                    <div class="col-lg-8">
                                        <input type="number" class="form-control text-right" value="0.00" readonly
                                        name="id_totalVenta" id="id_totalVenta">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">IVA:</div>
                                    <div class="col-lg-8">
                                        <input type="number" class="form-control text-right" value="{{ iva.valorParametro }}" disabled
                                            name="id_porc_iva" id="id_porc_iva" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">Total:</div>
                                    <div class="col-lg-8">
                                        <input type="number" class="form-control text-right" value="0.00" disabled
                                            name="total" id="id_total">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Sección Izquierda -->


                <!-- Sección Derecha -->
                <div class="col-lg-6 from-group">
                    <div class="row p-2">
                        <div class="col-lg-2">Cultivo</div>
                        <div class="col-lg-7">
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="id_produccion" id="id_produccion" placeholder="Cód. Producc..">
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="id_cultivo" id="id_cultivo" placeholder="Descripción" disabled>
                            </div>
                            <!--<select name="id_produccion" id="id_produccion" class="form-control">
                                <option value="0">Seleccione Cultivo </option>
                                {% for prod in produccion %}
                                    <option value="{{prod.id}}"> Cultivo: {{ prod.cultivo.nombre }} | Insumo: {{ prod.insumo }} | CantidadDisponible: {{ prod.cantidadDisponible }}
                                    </option>
                                {% endfor %}
                            </select> -->
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-danger" id="btnGuardar"> <i class="far fa-plus-square"></i> </button>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-info" id="btnBuscar">
                                <i class="fab fa-searchengin"></i>
                            </button>
                        </div>
                        <!--
                        -->
                    </div>
                    <div class="row">
                        <div class="col-lg-2">Cant</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="id_cantidad" id="id_cantidad" placeholder="Cantidad">
                            <input type="hidden" class="form-control" name="cantidadDisponible" id="cantidadDisponible">
                        </div>
                        <div class="col-lg-4">
                            <input type="number" class="form-control" name="id_precio" id="id_precio" placeholder="Precio" readonly>
                        </div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="total" id="total" placeholder="id_porc_iva">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-9 text-right">Sub Total</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="id_totalVenta_detalle" id="id_totalVenta_detalle" placeholder="Sub Total"
                             value="0.00" disabled>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-9 text-right">Total</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="total_detalle" id="total_detalle" placeholder="Total"
                             value="0.00" disabled>
                        </div>
                    </div>
                </div>
                <!-- Fin Sección Derecha -->
            </div>
            <!-- Fin Sección Superior -->
            <!-- Inicio Detalle -->
            <hr>
            <div class="row p-1">
                <div class="col-lg-12">
                    <table id="datatable"
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-columns="true"
                        data-show-toggle="true"
                        data-show-fullscreen="true"
                        data-locale="es-NI"
                        >
                        <thead>
                            <th data-sortable="true" data-field="id">Id.</th>
                            <th data-sortable="true" data-field="id_produccion">Código</th>
                            <th data-sortable="true" data-field="id_cultivo">Cultivo</th>
                            <th data-field="id_cantidad">Cant</th>
                            <th data-field="subtotal">Sub Total</th>
                            <th data-field="porc_iva">Desc.</th>
                            <th data-field="total">Total</th>
                            <th class="all">Acciones</th>
                        </thead>
                        <tbody>
                            {% for item in det %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.produccion }}</td>
                                <td>{{ item.cultivo.nombre }}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>{{ item.totalVenta }}</td>
                                <td>{{ item.porc_iva }}</td>
                                <td>{{ item.total }}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-circle"
                                    onclick="borrar_detalle({{ item.id }})">
                                    <i class="fas fa-history"></i>
                                </button>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Fin Detalle -->
        </div>
    </div>
</div>
</form>
{% endblock page_content%}

{% block js_tablas %}

	<!-- Core plugin JavaScript-->
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'assets/vendor/js/jquery.chained.min.js'%}"></script>

	<!-- Page level custom scripts -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

{% endblock js_tablas %}


{% block js_page %}
<script>
    function calcular_detalle()
    {
        var cant,prec,desc,stotal,total;

        cant = $("#id_cantidad").val();
        cant = cant==="" ? 0 : +cant;
        cant = cant<0 ? 0 : cant;

        prec =$('#id_precio').val();
        prec = prec==="" ? 0 : +prec;
        prec = prec<0 ? 0 : prec;

        desc = $('#total').val();
        desc = desc==="" ? 0 : +desc;
        desc = desc<0 ? 0 : desc;

        desc = desc>(cant * prec) ? 0 : desc;

        stotal = cant * prec;
        total  = stotal - desc;

        $('#id_cantidad').val(cant);
        $('#id_precio').val(prec);
        $('#total').val(desc);

        $('#id_totalVenta_detalle').val(stotal);
        $('#total_detalle').val(total);

        console.log("Cantidad " + cant);
        console.log("prec " + prec);
        console.log("desc " + desc);

        console.log("id_totalVenta_detalle " + $('#id_totalVenta_detalle').val());
        console.log("total_detalle " + $('#total_detalle').val());

    }

    function buscarProducto()
    {
        if ($("#id_cliente").val()==="0" || $("#id_cliente").val()===null){
            mensaje("Cliente No Seleccionado",'red');
            return false;
        }
        var id_produccion = $("#id_produccion").val();
        if(id_produccion==="" || id_produccion=="0"){
            return false;
        }

        var path = '/api/v1/ProduccionDetalle/' + id_produccion;
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                var  cantidadDisponible = r.cantidadCosechada - r.cantidadVentaCosecha;
                console.log(r);
                console.log( r.cantidadCosechada - r.cantidadVentaCosecha);
                console.log(r.estado);
                alert(r);
                alert( r.cantidadCosechada);
                alert(r.cantidadVentaCosecha);
                
                if(r.cantidadDisponible<=0 || !r.estado){
                    mensaje("Producto No Tiene cantidadDisponible o está inactivo",'orange')
                    $("#id_produccion").val("");
                    $("#id_cultivo").val("");
                    $("#id_precio").val("0.00");
                    $("#id_produccion").focus();
                    return false;
                }

                $("#id_produccion").val(r.produccion_id);
                $("#id_cultivo").val(r.cultivo.nombre);
                $("#id_precio").val(r.precio);
                $("#cantidadDisponible").val(cantidadDisponible) ;
                $("#id_cantidad").focus();

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Producto -" + id_produccion + "- No Encontrado o No Existe",'red');
                    $("#id_produccion").val("");
                    $("#id_cultivo").val("");
                    $("#id_precio").val("0.00");
                    $("#id_produccion").focus();
                }

            }

        });
    }

    $(function () {
        $("#sidebarToggle").click();
        $('#id_cliente').select2({
            placeholder: "Seleccione Cliente",
            allowClear: true
        });
        
        $("#btnBuscar").click(function(e){
            if ($("#id_cliente").val()==="0"){
                mensaje("Cliente No Seleccionado",'red');
                return false;
            }
            abrir_modal("/vent/venta_busca_produccion");
        });
        
        $("#id_produccion").keypress(function(e){
            if(e.keyCode===13){
                e.preventDefault();
                buscarProducto();
            }
        });

        $('#id_cantidad,#id_precio,#total').change(function(){
            calcular_detalle();
        });

        $("#id").val("{{ obj.id }}");
        $("#id_cliente").val("{{ obj.cliente.id }}").change();
        $("#id_fechaVenta").val("{{ obj.fechaVenta|date:'Y-m-d' }}");
        $("#id_totalVenta").val("{{ obj.totalVenta }}");
        $("#id_porc_iva").val("{{ obj.porc_iva }}");
        $("#total").val("{{ obj.total }}");

        // $('#id_cliente').select2().select2('val', $('#id_cliente option:eq(1)').val());
        // https://select2.org/programmatic-control/add-select-clear-items
        $("#id_cliente").data('select2').trigger('select', {
            data: {"id": 1}
        });

        

    });

    function borrar_detalle(id)
    {
        // mensaje(id);
        $.confirm({
            theme:"modern",
            icon:"fab fa-keycdn",
            type:'red',
            title: "Confirmación Requerida",
            content: '#',//'url:/fac/facturas/borrar-detalle/' + id,
            onContentReady: function () {
                var self = this;
                this.$content.find('#usuario').val('{{ user.username }}');
                this.$content.find('#usuario').select();
                this.$content.find('#usuario').focus();
            },
            buttons:{
                borrar:{
                    text:"Borrar",
                    btnClass:"btn btn-danger",
                    action: function(){
                        var usuario = this.$content.find('input#usuario');
	                    var pass = this.$content.find('input#password');

                        if(!usuario.val().trim()){
                            mensaje("Usuario es requerido",'red');
                            return false;
                        }

                        if(!pass.val().trim()){
                            // $.alert({
                            //     title:"Error",
                            //     content: "Contraseña es Requerida",
                            //     type: 'red'
                            // });
                            mensaje("Contraseña es Requerida","red");
                            return false;
                        }

                        var data = {"usuario":usuario.val(),"pass":pass.val()};
	                    console.log(data);

                        var token = '{{csrf_token}}';
                        $.ajax({
                            headers: { "X-CSRFToken": token },
                            type:"POST",
                            data:data,
                            url: '#',//'/fac/facturas/borrar-detalle/' + id,
                            success: function(r){
                                console.log(r);
                                if(r==="ok"){
                                    location.reload(true);
                                }else{
                                    mensaje(r,'red');
                                }
                            },
                            error: function(a,b,c){
                                mensaje(c);
                            }
                        });
                    }
                    },
                cancelar: function(){}
                }
        });
    }

    $("form").submit(function(e){
        var cantidadDisponible = +$("#cantidadDisponible").val();
        var cantidad = +$("#id_cantidad").val();

        if(cantidad>cantidadDisponible){
            mensaje("No hay cantidadDisponible suficiente");
            return false;
        }
    })


    $("#popup").on('hidden.bs.modal',function(){
        const a = $("#id").val()
        // alert(a)
        var url="{% url 'mnt:cliente_list' %}"
        $.ajax({
            type:"GET",
            url:url,
            success: function(data){
                console.log(data)
                $("#id_cliente").find('option').remove()
                $("#id_cliente").append('<option value="0">Seleccione Cliente</option>')
                for(var i=0;i<data.length;i++){
                    $("#id_cliente").append('<option value="${data[i].id}">${data[i].nombres} ${data[i].apellidos} </option>')
                }
                $("#id_cliente").val(a).change()
            },
            error: function(data){
                console.log(data)
            }
        })
        return false
    })
</script>
{% endblock js_page %}