{% extends 'base/home.html' %}
{% load static %}

{% block csstables %}
  <!-- Custom fonts for this template -->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" 
          rel="stylesheet">
  <!-- Custom styles for this template --> 
  <link href="{% static 'assets/vendor/css/sb-admin-2.min.css'%}" rel="stylesheet">
   <!-- Custom styles for this page -->
   <link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
     <!-- jQuery Confirm -->
  <link rel="stylesheet" href="{% static 'assets/vendor/jquery_confirm/jquery-confirm.min.css' %}">
  <!-- XDSoft DateTimePicker  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" 
            integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />   
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" /> 
{% endblock csstables %}

{% block page_content %}  

<div class="container-fluid">
      
    <div class="app-card-body p-1 p-lg-1">
    </div>

<!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- DataTales Example -->         
          <div class="card shadow mb-4" ><br/>
                <div class="app-card-body p-1 p-lg-1">
                    <div class="row gx-5 gy-3">
                      <div class="col-12 col-lg-3">
                            <h2 class="m-0 font-weight-bold text-primary text-center">Registro de ventas</h2>
                      </div>
                      <div class="col-md-3">
                        <a class="btn btn-primary" href="{% url 'vent:venta_new' %}"><i cass="far fa-calendar-plus"></i>Nueva Venta</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn btn-info" href="{% url 'mnt:cliente_new' %}"><i cass="far fa-calendar-plus"></i>Nuevo Cliente</a>
                      </div>
                      <div class="col-md-3">
                        <a class="btn btn-info" href="{% url 'mnt:produccion_new' %}"><i cass="far fa-calendar-plus"></i>Nueva Producción </a>
                      </div> 
                </div> <br/>
                {% if not obj %}
                    <div class="card-header py-2">
                      <h2 class="alert alert-info">No existe información</h2>
                    </div>
                {% else %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                              <input type="text" class="form-class" name="f1" id="f1" readonly>
                            </div>
                            <div class="col-md-3">
                              <input type="text" class="form-class" name="f2" id="f2" readonly>
                            </div>

                            <div class="col-md-3">
                              <button class="btn btn-warning" type="button" id="btnPrint">Imprimir</button>
                            </div>
                        </div>
                        <table id="dataTable"
                              data-toggle="table"
                              data-pagination="true"
                              data-search="true"
                              data-show-columns="true"
                              data-show-toggle="true"
                              data-show-fullscreen="true"
                              data-locale="es-NI">
                          <thead>
                                {% block header_list %}
                                <tr>
                                    <th>No.</th>
                                    <th>cliente</th>
                                    <th>fechaVenta</th>
                                    <th>totalVenta</th>
                                    <th>Estado</th>
                                    <th class="all">Acciones</th>
                                </tr>
                                {% endblock %}
                          </thead>
                          <tfoot>
                                {% block footer_list %}
                                  <!--<tr>
                                    <th>No.</th>
                                    <th>cliente</th>
                                    <th>fechaVenta</th>
                                    <th>totalVenta</th>
                                    <th>Estado</th>
                                    <th class="all">Acciones</th>
                                  </tr>-->
                                {% endblock %}
                          </tfoot>
                          <tbody>
                                {% block body_list %}
                                    {% for item in obj %}
                                    <tr>
                                          <td>{{ item.id }}</td>
                                          <td>{{ item.cliente }}</td>
                                          <td>{{ item.fechaVenta }}</td>
                                          <td>{{ item.totalVenta }}</td>
                                          <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
                                          <td>
                                            <a href="{% url 'vent:venta_edit' item.id %}" class="href btn btn-warning btn-circle">
                                                <i class="far fa-edit"></i>
                                            </a>
                                          </td>
                                    </tr>
                                    {% endfor %}
                                {% endblock %}
                          </tbody>
                        </table>
                    </div>
                  </div>
                {% endif %}
        </div>
        <!-- /.container-fluid -->
{% endblock page_content %}

{% block js_lista %}
<script>
$(function(){
  $("#f1, #f2").datetimepicker({
      format: 'Y-m-d',
      timepicker:false
  });

  $("#btnPrint").click(function(e){
    e.preventDefault();
    var f1,f2;
    f1 = $("#f1").val();
    f2 = $("#f2").val();
    if(f1=="" || f1==null){
      f1="2019-06-01";
    }
    if(f2=="" || f2==null){
      var d = new Date();
      var f2 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
    }
    
    //var url = "imprimir-todas/" + f1 + "/" + f2;
    
  });
});
</script>


{% endblock js_lista %}

{% block js_tablas %}
	<!-- Page level plugins -->
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js'%}"></script>
	<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

	<!-- Bootstrap core JavaScript-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

	<!-- Page level custom scripts -->
	<script src="{% static 'assets/vendor/js/demo/datatables-demo.js'%}"></script>
{% endblock js_tablas %}

<script>
  var jq = jQuery.noConflict(true);
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    $('.table').DataTable();
  });
</script>
{% block js_page %}
{% endblock %}
