{% extends 'base/home.html' %}
{% load static %}

{% block csstables %}
  <!-- Custom fonts for this template -->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template --> 
  <link href="{% static 'assets/vendor/css/sb-admin-2.min.css' %}" rel="stylesheet">
   <!-- Custom styles for this page -->
   <link href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
     <!-- jQuery Confirm -->
  <link rel="stylesheet" href="{% static 'assets/vendor/jquery_confirm/jquery-confirm.min.css' %}">
  <!-- XDSoft DateTimePicker  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" 
            integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />   
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" /> 
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" 
        rel="stylesheet">

{% endblock csstables %}

{% block page_content %}
<form method="post" id="frmVenta">
    {% csrf_token %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <a href="#" class="btn btn-danger">Guardar</a>
        <a href="#" class="btn btn-success" target="_factura">Imprimir</a>
        <a href="{% url 'vent:venta_list' %}" class="btn btn-info">Cancelar</a>
    </div>
    <div class="card-body">
        <div class="content">
            <!-- Sección Superior -->
            <div class="row">
                <!-- Sección Izquierda -->
                <div class="col-lg-6 form-group">
                    <div class="content">
                        <div class="row ">
                            <div class="col-lg-2">No.</div>
                            <div class="col-lg-2">
                                <input type="text" name="id" id="id" readonly class="form-control">
                            </div>
                            <div class="col-lg-3">
                                Cliente:
                            </div>
                            <div class="col-lg-5 form-group">
                                <div class="row">
                                    <div class="col-lg-11 col-md-11">
                                        <select name="cliente_id" id="cliente_id" class="form-control">
                                            <option value="0">Seleccione Cliente</option>
                                            {% for cliente in clientes %}
                                                <option value="{{cliente.id}}">{{cliente.identificacion }} - {{ cliente.nombre }} {{ cliente.apellido}} 
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!--
                                    <div class="col-lg-1 col-md-1">
                                        <button class="btn btn-outline-danger btn-sm" id="btnEditCliente"><i class="far fa-edit"></i></button>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 p-2" >
                                <div class="row">
                                    <div class="col-lg-3">
                                        Fecha:
                                    </div>
                                    <div class="col-lg-5 form-group">
                                        <input type="text" name="fechaVenta" id="fechaVenta" class="form-control form-control-user" 
                                        value="{{ obj.fechaVenta|date:'Y-m-d' }}" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 p-2 form-group">
                                <div class="row">
                                    <div class="col-lg-3">Sub Total:</div>
                                    <div class="col-lg-8">
                                        <input type="number" class="form-control text-right" value="0.00" readonly
                                        name="sub_total" id="sub_total">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">Descuento:</div>
                                    <div class="col-lg-8">
                                        <input type="number" class="form-control text-right" value="0.00" disabled
                                            name="descuento" id="descuento">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">Total:</div>
                                    <div class="col-lg-8">
                                        <input type="number" class="form-control text-right" value="0.00" disabled
                                            name="total" id="total">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Sección Izquierda -->


                <!-- Sección Derecha -->
                <div class="col-lg-6 from-group">
                    <div class="row p-2">
                        <div class="col-lg-2">Cultivo</div>
                        <div class="col-lg-7">
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="produccion_id" id="produccion_id" placeholder="Cód. Producc..">
                            </div>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" disabled>
                            </div>
                            
                            <div class="col-lg-1">
                                <button type="button" class="btn btn-info" id="btnBuscar">
                                    <i class="fab fa-searchengin"></i>
                                </button>
                            </div>
                            <!--<select name="produccion_id" id="produccion_id" class="form-control">
                                <option value="0">Seleccione Cultivo </option>
                                {% for prod in produccion %}
                                    <option value="{{prod.id}}"> Cultivo: {{ prod.cultivo.nombre }} | Insumo: {{ prod.insumo }} | CantidadDisponible: {{ prod.cantidadDisponible }}
                                    </option>
                                {% endfor %}
                            </select> -->
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-danger" id="btnGuardar"> <i class="far fa-plus-square"></i> </button>
                        </div>
                        <!--
                        -->
                    </div>
                    <div class="row">
                        <div class="col-lg-2">Cant</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad">
                            <input type="hidden" class="form-control" name="existencia" id="existencia">
                        </div>
                        <div class="col-lg-4">
                            <input type="number" class="form-control" name="precio" id="precio" placeholder="Precio" readonly>
                        </div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="descuento_detalle" id="descuento_detalle" placeholder="Descuento">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-9 text-right">Sub Total</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="sub_total_detalle" id="sub_total_detalle" placeholder="Sub Total"
                             value="0.00" disabled>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-9 text-right">Total</div>
                        <div class="col-lg-3">
                            <input type="number" class="form-control" name="total_detalle" id="total_detalle" placeholder="Total"
                             value="0.00" disabled>
                        </div>
                    </div>
                </div>
                <!-- Fin Sección Derecha -->
            </div>
            <!-- Fin Sección Superior -->
            <!-- Inicio Detalle -->
            <hr>
            <div class="row p-1">
                <div class="col-lg-12">
                    <table id="datatable"
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-columns="true"
                        data-show-toggle="true"
                        data-show-fullscreen="true"
                        data-locale="es-NI"
                        >
                        <thead>
                            <th data-sortable="true" data-field="id">Id.</th>        
                            <th data-sortable="true" data-field="produccion_id">Código</th>
                            <th data-sortable="true" data-field="descripcion">Descripción</th>
                            <th data-field="cantidad">Cant</th>
                            <th data-field="subtotal">Sub Total</th>
                            <th data-field="descuento">Desc.</th>
                            <th data-field="total">Total</th>
                            <th class="all">Acciones</th>
                        </thead>
                        <tbody>
                            {% for item in det %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.producto }}</td>
                                <td>{{ item.producto.descripcion }}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>{{ item.sub_total }}</td>
                                <td>{{ item.descuento }}</td>
                                <td>{{ item.total }}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-circle"
                                    onclick="borrar_detalle({{ item.id }})">
                                    <i class="fas fa-history"></i>
                                </button>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Fin Detalle -->
        </div>
    </div>
</div>
</form>
{% endblock page_content%}

{% block js_tablas %}
	<!-- Page level plugins -->
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

	<!-- Bootstrap core JavaScript-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js/jquery.chained.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery_confirm/jquery-confirm.min.js' %}"></script>
    
	<!-- Page level custom scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" 
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>  
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    
{% endblock js_tablas %}


{% block js_page %}
<script>
    function calcular_detalle()
    {
        var cant,prec,desc,stotal,total;

        cant = $("#cantidad").val();
        cant = cant==="" ? 0 : +cant;
        cant = cant<0 ? 0 : cant;

        prec =$('#precio').val();
        prec = prec==="" ? 0 : +prec;
        prec = prec<0 ? 0 : prec;

        desc = $('#descuento_detalle').val();
        desc = desc==="" ? 0 : +desc;
        desc = desc<0 ? 0 : desc;

        desc = desc>(cant * prec) ? 0 : desc;

        stotal = cant * prec;
        total  = stotal - desc;

        $('#cantidad').val(cant);
        $('#precio').val(prec);
        $('#descuento_detalle').val(desc);

        $('#sub_total_detalle').val(stotal);
        $('#total_detalle').val(total);

        console.log("Cantidad " + cant);
        console.log("prec " + prec);
        console.log("desc " + desc);

        console.log("sub_total_detalle " + $('#sub_total_detalle').val());
        console.log("total_detalle " + $('#total_detalle').val());

    }

    function buscarProducto()
    {
        if ($("#cliente_id").val()==="0" || $("#cliente_id").val()===null){
            mensaje("Cliente No Seleccionado",'red');
            return false;
        }

        var produccion_id = $("#produccion_id").val();
        if(produccion_id==="" || produccion_id=="0"){
            return false;
        }
        
        var path = "#" 
        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                console.log(r);
                console.log(r.cantidadDisponible);
                console.log(r.estado);

                if(r.existencia<=0 || !r.estado){
                    mensaje("Producto No Tiene Existencia o está inactivo",'orange')
                    $("#produccion_id").val("");
                    $("#descripcion").val("");
                    $("#precio").val("0.00");
                    $("#produccion_id").focus();
                    return false;
                }

                $("#produccion_id").val(r.produccion_id);
                $("#descripcion").val(r.descripcion);
                $("#precio").val(r.precio);
                $("#existencia").val(r.existencia);
                $("#cantidad").focus();

            },
            error: function(a,b,c){
                console.log(a);
                // console.log(b);
                // console.log(c);
                // console.log(a.status)
                // console.log(a.responseText.detail);
                // a.responseText["detail"]
                // mensaje(c,'red');
                if(a.status==404){
                    mensaje("Producto -" + produccion_id + "- No Encontrado o No Existe",'red');
                    $("#produccion_id").val("");
                    $("#descripcion").val("");
                    $("#precio").val("0.00");
                    $("#produccion_id").focus();
                }

            }

        });
    }

    $(function () {
        $("#sidebarToggle").click();
        $('#cliente_id').select2({
            placeholder: "Seleccione Cliente",
            allowClear: true
        });
        /*
        $('#produccion_id').select2({
            placeholder: "Seleccione Cultivo",
            allowClear: true
        });
        */
        
        $("#codigo").keypress(function(e){
            if(e.keyCode===13){
                e.preventDefault();
                buscarProducto();
            }
        });
        
        $('#cantidad,#precio,#descuento_detalle').change(function(){
            calcular_detalle();
        });

        $("#id").val("{{ obj.id }}");
        $("#cliente_id").val("{{ obj.cliente.id }}").change();
        $("#fechaVenta").val("{{ obj.fechaVenta|date:'Y-m-d' }}");
        $("#sub_total").val("{{ obj.sub_total }}");
        $("#descuento").val("{{ obj.descuento }}");
        $("#total").val("{{ obj.total }}");

        // $('#cliente_id').select2().select2('val', $('#cliente_id option:eq(1)').val());
        // https://select2.org/programmatic-control/add-select-clear-items
        $("#cliente_id").data('select2').trigger('select', {
            data: {"id": 3}
        });

    });

    function borrar_detalle(id)
    {
        // mensaje(id);
        $.confirm({
            theme:"modern",
            icon:"fab fa-keycdn",
            type:'red',
            title: "Confirmación Requerida",
            content: '#',//'url:/fac/facturas/borrar-detalle/' + id,
            onContentReady: function () {
                var self = this;
                this.$content.find('#usuario').val('{{ user.username }}');
                this.$content.find('#usuario').select();
                this.$content.find('#usuario').focus();
            },
            buttons:{
                borrar:{
                    text:"Borrar",
                    btnClass:"btn btn-danger",
                    action: function(){
                        var usuario = this.$content.find('input#usuario');
	                    var pass = this.$content.find('input#password');

                        if(!usuario.val().trim()){
                            mensaje("Usuario es requerido",'red');
                            return false;
                        }

                        if(!pass.val().trim()){
                            // $.alert({
                            //     title:"Error",
                            //     content: "Contraseña es Requerida",
                            //     type: 'red'
                            // });
                            mensaje("Contraseña es Requerida","red");
                            return false;
                        }

                        var data = {"usuario":usuario.val(),"pass":pass.val()};
	                    console.log(data);

                        var token = '{{csrf_token}}';
                        $.ajax({
                            headers: { "X-CSRFToken": token },
                            type:"POST",
                            data:data,
                            url: '#',//'/fac/facturas/borrar-detalle/' + id,
                            success: function(r){
                                console.log(r);
                                if(r==="ok"){
                                    location.reload(true);
                                }else{
                                    mensaje(r,'red');
                                }
                            },
                            error: function(a,b,c){
                                mensaje(c);
                            }
                        });
                    }
                    },
                cancelar: function(){}
                }
        });
    }

    $("form").submit(function(e){
        var existencia = +$("#existencia").val();
        var cantidad = +$("#cantidad").val();

        if(cantidad>existencia){
            mensaje("No hay existencia suficiente");
            return false;
        }
    })
    

    $("#popup").on('hidden.bs.modal',function(){
        const a = $("#id").val()
        // alert(a)
        var url="{% url 'mnt:cliente_list' %}"
        $.ajax({
            type:"GET",
            url:url,
            success: function(data){
                console.log(data)
                $("#cliente_id").find('option').remove()
                $("#cliente_id").append('<option value="0">Seleccione Cliente</option>')
                for(var i=0;i<data.length;i++){
                    $("#cliente_id").append('<option value="${data[i].id}">${data[i].nombres} ${data[i].apellidos} </option>')
                }
                $("#cliente_id").val(a).change()
            },
            error: function(data){
                console.log(data)
            }
        })
        return false
    })
</script>
{% endblock js_page %}