{% extends 'vent/basevent_list.html' %}



{% block mensaje %}

{% endblock mensaje %}


{% block header_list %}
<tr>
    <th>No.</th>
    <th>cliente</th>
    <th>fechaVenta</th>
    <th>totalVenta</th>
    <th>Estado</th>
    <th class="all">Acciones</th>
</tr>
{% endblock header_list %}

{% block footer_list %}
  <!--<tr>
    <th>No.</th>
    <th>cliente</th>
    <th>fechaVenta</th>
    <th>totalVenta</th>
    <th>Estado</th>
    <th class="all">Acciones</th>
  </tr>-->
{% endblock footer_list %}

{% block body_list %}
  {% for item in obj %}
  <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.cliente }}</td>
        <td>{{ item.fechaVenta }}</td>
        <td>{{ item.totalVenta }}</td>
        <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
        <td>
          <a href="{% url 'vent:venta_edit' item.id %}" class="href btn btn-warning btn-circle">
              <i class="far fa-edit"></i>
          </a>
        </td>
  </tr>
  {% endfor %}
{% endblock body_list %}

{% block js_page %}
<script>
$(function(){
  $("#f1, #f2").datetimepicker({
      format: 'Y-m-d',
      timepicker:false
  });

  $("#btnPrint").click(function(e){
    e.preventDefault();
    var f1,f2;
    f1 = $("#f1").val();
    f2 = $("#f2").val();
    if(f1=="" || f1==null){
      f1="2019-06-01";
    }
    if(f2=="" || f2==null){
      var d = new Date();
      var f2 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
    }
    
    var url = "imprimir-todas/" + f1 + "/" + f2;
    
  });
});
</script>
{% endblock js_page%}