{% extends 'base/home.html' %}
{% block dashboard %}
		<div class="content">
          <div class="pb-5">
            <div class="row g-4">
              <div class="col-12 col-xxl-6">
                <div class="mb-8">
                  <h2 class="mb-2">Dashboard</h2>
                </div>
                <div class="row align-items-center g-4">
                </div>
                <hr class="bg-200 mb-6 mt-4" />
                <div class="row flex-between-center mb-4 g-3">
                  <div class="col-auto">
                    <h3>Ventas de la semana</h3>
                  </div>
                  <div class="chart-container">
                    <canvas id="graficoBarra3" ></canvas>
                  </div>
                </div> 
                <div class="echart-total-sales-chart" style="min-height:320px;width:100%" data-echart-responsive="data-echart-responsive"></div>
              </div>
              <div class="col-12 col-xxl-6">
                <div class="row g-3">
                  <div class="col-12 col-md-6">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div>
                            <h5 class="mb-1">Total Vendido Año<span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2"><span class="badge-label">-6.8%</span></span></h5>
                            <h6 class="text-700"></h6>
                          </div>
                        </div>
                        <div class="chart-container">
                          <canvas id="graficoBarra3" ></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div>
                            <h5 class="mb-1">Producción vs Ventas<span class="badge badge-phoenix badge-phoenix-warning rounded-pill fs--1 ms-2"> <span class="badge-label">+26.5%</span></span></h5>
                            <h6 class="text-700"></h6>
                          </div>
                        </div>
                        <div class="chart-container">
                          <canvas id="graficoBarra3" ></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div>
                            <h5 class="mb-2">Compras anuales</h5>
                            <h6 class="text-700"></h6>
                          </div>
                        </div>
                        <div class="chart-container">
                          <canvas id="graficoBarra3" ></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="card h-100">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div>
                            <h5 class="mb-2">Top 10 Ventas</h5>
                            <h6 class="text-700"></h6>
                          </div>
                        </div>
                        <div class="chart-container">
                          <canvas id="graficoBarra3" ></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

	<script>
   $(function () {    
    //console.log( {{ datoComprativo }});
    //console.log({{ datoLineal }} );
        var ctx = document.getElementById('graficoBarra').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [ {% for data in datoLineal %} '{{ data.detalleventa__cultivo__nombre }}', {% endfor %} ],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [ {% for data in datoLineal %} {{ data.cantidad }}, {% endfor %} ],
            }
            ]},
          options: { responsive: true, 
                    scales: { y: { beginAtZero: true }  }
          }
        });
      
        var ctx_2 = document.getElementById('graficoBarra2').getContext('2d');
        var chart_2 = new Chart(ctx_2, {
          type: 'bar',
          data: {
            labels: [ {% for data in datoLineal %} '{{ data.detalleventa__cultivo__nombre }}', {% endfor %} ],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [ {% for data in datoLineal %} {{ data.det_total }}, {% endfor %} ],
            },{
              label: {{ ianio_anterior }},
              backgroundColor: '#ffab91',
              borderColor: 'yellow',
              data: [ {% for data in datoComparativo %} {{ data.det_total }}, {% endfor %} ],
            }		
            ]},
          options: { responsive: true, 
                    scales: { y: { beginAtZero: true } }
          }
        });
  
        var ctx1 = document.getElementById('graficoBarra3').getContext('2d');
        var chart = new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: [{% for data in datoLineal %} '{{ data.detalleventa__cultivo__nombre }}', {% endfor %}],
            datasets: [{
              label: {{ ianio }},
              backgroundColor: '#42a5f5',
              borderColor: 'gray',
              data: [{% for data in datoLineal %} {{ data.det_cantidad }}, {% endfor %}  ],
            },{
              label: {{ ianio_anterior }},
              backgroundColor: '#ffab91',
              borderColor: 'yellow',
              data: [ {% for data in datoComparativo %} {{ data.det_cantidad }}, {% endfor %} ],
            }		
            ]},
         options: { responsive: true, 
                    scales: { y: { beginAtZero: true } }
         }
        });
     $("#id_anios").val("{{ ianio }}");
   });
	</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<!--<script src="{% static 'assets/js/index-charts.js'%}"></script> --> 

<script>
      // Generate charts on load
      window.addEventListener('load', function(){
        var barChart = document.getElementById('graficoBarra').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);

        var barChart = document.getElementById('graficoBarra2').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);

        var barChart = document.getElementById('graficoBarra3').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);


        var lineChart = document.getElementById('graficoLinea2').getContext('2d');
        window.myLine = new Chart(lineChart, lineChartConfig);


        var lineChart = document.getElementById('graficoLinea').getContext('2d');
        window.myLine = new Chart(lineChart, lineChartConfig);

      });	
</script>
<!-- Charts JS -->
<script src="{% static 'assets/js/chart.js'%}"></script>
<script src="{% static 'assets/js/chart.min.js'%}"></script>  
<!--<script src="{% static 'assets/js/index-charts.js'%}"></script> --> 

{% endblock dashboard%}